swagger: '2.0'
info:
  description: Api Documentation
  version: '1.0'
  title: Api Documentation
  termsOfService: 'urn:tos'
  contact: {}
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
host: loan-channelvas-system-mtnapitest.e4ff.pro-eu-west-1.openshiftapps.com
basePath: /
tags:
  - name: channel-vas-controller
    description: Channel VAS Controller
paths:
  '/loans/{id}/advance':
    post:
      tags:
        - channel-vas-controller
      summary: Gets a loan advance.
      description: Get a loan advance for an MTN customer.
      operationId: getLoanAdvanceUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: bandGroup
          in: query
          required: false
          type: integer
          format: int32
        - name: bandName
          in: query
          required: false
          type: string
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Loan'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/loans/{id}/eligibility':
    get:
      tags:
        - channel-vas-controller
      summary: Retrieves a the loan eligibility status.
      description: Retrieves a the loan eligibility status of an MTN customer.
      operationId: checkEligibilityUsingGET
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Eligibility'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
definitions:
  APIResponse:
    type: object
    properties:
      _links:
        type: array
        xml:
          name: link
          attribute: false
          wrapped: false
        items:
          $ref: '#/definitions/Link'
    title: APIResponse
  Band:
    type: object
    properties:
      bandGroup:
        type: integer
        format: int32
      bandName:
        type: string
    title: Band
  Eligibility:
    type: object
    properties:
      _links:
        type: array
        xml:
          name: link
          attribute: false
          wrapped: false
        items:
          $ref: '#/definitions/Link'
      bands:
        type: array
        items:
          $ref: '#/definitions/Band'
      status:
        type: string
        enum:
          - ELIGIBLE
          - NE_LOAN
          - NE_TCL_REACHED
    title: Eligibility
  Link:
    type: object
    properties:
      deprecation:
        type: string
        xml:
          name: deprecation
          attribute: true
          wrapped: false
      href:
        type: string
        xml:
          name: href
          attribute: true
          wrapped: false
      hreflang:
        type: string
        xml:
          name: hreflang
          attribute: true
          wrapped: false
      media:
        type: string
        xml:
          name: media
          attribute: true
          wrapped: false
      rel:
        type: string
        xml:
          name: rel
          attribute: true
          wrapped: false
      templated:
        type: boolean
      title:
        type: string
        xml:
          name: title
          attribute: true
          wrapped: false
      type:
        type: string
        xml:
          name: type
          attribute: true
          wrapped: false
    title: Link
  Loan:
    type: object
    properties:
      _links:
        type: array
        xml:
          name: link
          attribute: false
          wrapped: false
        items:
          $ref: '#/definitions/Link'
      status:
        type: string
        enum:
          - FAILED
          - COMPLETED
          - INITED
      transactionId:
        type: string
    title: Loan
