swagger: "2.0"
info:
  version: "1.0"
  title: "Short Message Service (SMS) API"
  description: "Provides a RESTful API to expose SMS capability."
host: api.mtn.com
basePath: /v3/sms
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  OAuth2:
    type: oauth2
    flow: application
    tokenUrl: "https://api.mtn.com/v1/oauth/access_token/accesstoken?grant_type=client_credentials"
    scopes:
      SEND-SMS: Grants ability to send SMS messages to subscribers.
security:
  - OAuth2: []
paths:
  /messages/sms/outbound:
    post:
      tags:
        - "Sending SMS"
      summary: "This operation is used to create outgoing SMS request"
      description: "This interface is used to send an SMS to the specified address(s)."
      parameters:
        - in: "body"
          name: "body"
          description: "Request body"
          required: true
          schema:
            $ref: "#/definitions/outboundSMSMessageRequest"
      responses:
        201:
          description: "Outbound SMS created"
          schema:
            $ref: "#/definitions/resourceReference"
        401:
          schema:
            $ref: "#/definitions/Error"
          description: "Not authenticated"
        404:
          schema:
            $ref: "#/definitions/Error"
          description: "Not found"
        407:
          schema:
            $ref: "#/definitions/Error"
          description: "Proxy system not authenticated"
        500:
          schema:
            $ref: "#/definitions/Error"
          description: "Internal Server Error"

  /messages/sms/{senderAddress}/subscription:
    post:
      tags:
        - "Subscription"
      summary: "Create subscription to register a callback and a delivery report Url"
      description: "This is the interface used to register callback Url and delivery report URL for a specific shortcode"
      parameters:
        - in: "path"
          name: senderAddress
          type: string
          required: true
          description: "It is the address to which a responding SMS is sent. This can also be termed as a service code"
          x-example: "2291"
        - in: "body"
          name: "body"
          description: "Request body"
          required: true
          schema:
            $ref: "#/definitions/ShortCodeSubscription"
      responses:
        201:
          description: "Outbound SMS created"
          schema:
            $ref: "#/definitions/subscriptionResponse"
        401:
          schema:
            $ref: "#/definitions/Error"
          description: "Not authenticated"
        404:
          schema:
            $ref: "#/definitions/Error"
          description: "Not found"
        407:
          schema:
            $ref: "#/definitions/Error"
          description: "Proxy system not authenticated"
        500:
          schema:
            $ref: "#/definitions/Error"
          description: "Internal Server Error"

  /messages/sms/{senderAddress}/subscription/{subscriptionId}:
    patch:
      tags:
        - "Subscription"
      summary: "Create subscription to register a callback and a delivery report Url"
      description: "This is the interface used to register a service code with a callback Url and delivery report"
      parameters:
        - in: "path"
          name: senderAddress
          type: string
          required: true
          description: "It is the address to which a responding SMS is sent."
          x-example: "278945464"
        - in: path
          name: subscriptionId
          type: string
          required: true
          description: This is the subscription Id that was returned on the initial subscription
        - in: "body"
          name: "body"
          description: "Request body"
          required: true
          schema:
            $ref: "#/definitions/KeywordsRequest"
      responses:
        201:
          description: "Outbound SMS created"
          schema:
            $ref: "#/definitions/subscriptionResponse"
        401:
          schema:
            $ref: "#/definitions/Error"
          description: "Not authenticated"
        404:
          schema:
            $ref: "#/definitions/Error"
          description: "Not found"
        407:
          schema:
            $ref: "#/definitions/Error"
          description: "Proxy system not authenticated"
        500:
          schema:
            $ref: "#/definitions/Error"
          description: "Internal Server Error"

    delete:
      tags:
        - "Subscription"
      summary: "Delete subscription for a shortcode"
      description: "This interface will stop the server from sending SMS delivery notifications to third party apps when SMS messages are received by subscribers"
      parameters:
        - in: "path"
          name: senderAddress
          type: string
          required: true
          description: "It is the address to which a responding SMS is sent."
          x-example: "278945464"
        - in: "path"
          name: subscriptionId
          type: string
          required: true
          description: "It is the address to which a responding SMS is sent."
          x-example: "2783123455@138e1821414"
      responses:
        200:
          description: "SMS notification stopped"
          schema:
            $ref: "#/definitions/outboundSubscriptionDeleteResponse"
        401:
          schema:
            $ref: "#/definitions/Error"
          description: "Not authenticated"
        404:
          schema:
            $ref: "#/definitions/Error"
          description: "Not found"
        407:
          schema:
            $ref: "#/definitions/Error"
          description: "Proxy system not authenticated"
        500:
          schema:
            $ref: "#/definitions/Error"
          description: "Internal Server Error"

  /messages/sms/outbound/deliveryReport:
    post:
      tags:
        - "Notification"
      summary: "Post a delivery report to the registered URL."
      description: "This interface is used to post a delivery status for an outbound SMS"
      parameters:
        - in: "body"
          name: "body"
          description: "Request body"
          required: true
          schema:
            $ref: "#/definitions/DeliveryReportResponse"
      responses:
        200:
          description: "Query sucessful"
          schema:
            $ref: "#/definitions/deliveryStatusResponse"
        401:
          schema:
            $ref: "#/definitions/Error"
          description: "Not authenticated"
        404:
          schema:
            $ref: "#/definitions/Error"
          description: "Not found"
        407:
          schema:
            $ref: "#/definitions/Error"
          description: "Proxy system not authenticated"
        500:
          schema:
            $ref: "#/definitions/Error"
          description: "Internal Server Error"

definitions:
  outboundSMSMessageRequest:
    type: object
    required:
      - message
      - serviceCode
      - receiverAddress
    properties:
      senderAddress:
        type: string
        description: "This is the sender keyword that the message will appear to be coming from"
        example: "MTN"
      receiverAddress:
        description: "This an array of the subscriber MSISDN(s) that the SMS is being sent to. The value is represented as International  ITU-T E.164. If more than one address is used the values will be comma separated. Current supported length is one. This means a client may not send an SMS to more than one receiver at a time. If duplicate recipients have been inncluded, they will be removed and only one message will be sent"
        type: array
        items:
          type: string
        example: ["23423456789","23423456790"]
      message:
        type: string
        description: "The message being sent. The standard limit of the size of the message is 160 characters."
        maxLength: 160
      clientCorrelatorId:
        type: string
        description: "It uniquely identifies the request."
        maxLength: 36
      keyword:
        type: string
        description: This is the keyword incase of a shared code. `If no keyword is sent, the delivery report will be sent to the main service code url`
      serviceCode:
        type: string
        description: "It is the MSISDN or virtual MSIDN of the sender."
        example: "11221"
      requestDeliveryReceipt:
        type: boolean
        description: This is used to indicate whether the 3pp needs a delivery report or not.
        example: false


  resourceReference:
    type: object
    required:
      - data
      - statusCode
      - statusMessage
      - transactionId
      - _link
    properties:
      statusCode:
        type: string
        description: This is the MADAPI Canonical Error Code (it is 4 characters long and it is not the HTTP Status Code which is 3 characters long). Back-end system errors are mapped to specific canonical error codes which are returned. More information on these mappings can be found on the MADAPI Confluence Page 'Response Codes'
        example: '0000'
      statusMessage:
        type: string
        description: More details and corrective actions related to the error which can be shown to a client.
        example: 'Sucessful'
      transactionId:
        type: string
        description: MADAPI generated Id to include for tracing requests
        example: "1365478abcz-fdhsdfh54351"
      data:
        type: object
        required:
          - requestId
        properties:
          requestId:
            type: string
            description: "Unique identifier for the request"
            example: "sub123456"
          clientCorrelatorId:
            type: string
            description: "field used by client to track"
            example: "25145dsfd5"
      _link:
        type: "object"
        required:
          - "self"
        properties:
          self:
            type: "object"
            required:
              - "href"
            description: ""
            properties:
              href:
                type: "string"
                description: ""
                example: "https://api.mtn.com/v1/messages/sms/outbound"


  status:
    type: "string"
    title: "Delivery status"
    description: "SMS delivery status."
    example: "DELIVERED"
    enum:
      - "ACCEPTD"
      - "DELETED"
      - "DELIVERED"
      - "ENROUTE"
      - "UNKNOWN"
      - "EXPIRED"
      - "REJECTED"
      - "UNDELIVERED"


  inboundSMSMessageResponse:
    type: object
    required:
      - data
      - statusCode
      - statusMessage
      - transactionId
      - _link
    properties:
      statusCode:
        type: string
        description: This is the MADAPI Canonical Error Code (it is 4 characters long and it is not the HTTP Status Code which is 3 characters long). Back-end system errors are mapped to specific canonical error codes which are returned. More information on these mappings can be found on the MADAPI Confluence Page 'Response Codes'
        example: '0000'
      statusMessage:
        type: string
        description: More details and corrective actions related to the error which can be shown to a client.
        example: 'Sucessful'
      transactionId:
        type: string
        description: MADAPI generated Id to include for tracing requests
        example: "1365478abcz-fdhsdfh54351"
      data:
        $ref: "#/definitions/inboundSMSMessageList"
      _link:
        type: "object"
        required:
          - "self"
        properties:
          self:
            type: "object"
            required:
              - "href"
            description: ""
            properties:
              href:
                type: "string"
                description: ""
                example: "https://api.mtn.com/v1/messages/sms/inbound/registrations/10111/messages"

  inboundSMSMessageList:
    type: object
    properties:
      numberOfMessagesInThisBatch:
        type: string
        description: "The number of messages in the batch."
        example: "10"
      totalNumberOfPendingMessages:
        type: string
        description: "Total number of messages in the gateway storage waiting for retrieval at the time of the request"
        example: "10"
      inboundSMSMessage:
        type: array
        items:
          $ref: "#/definitions/inboundSMSMessage"

  KeywordsRequest:
    type: object
    properties:
      keywordData:
        type: array
        items:
          $ref: "#/definitions/KeywordsData"

  KeywordsData:
    type: object
    properties:
      callbackUrl:
        type: string
        description: "This is the callback URL"
        example: "http://www...."
      deliveryReportUrl:
        type: string
        description: "This is the delivery URL"
        example: "http://www...."
      targetSystem:
        type: string
      keywords:
        type: array
        items:
          type: string

  DeliveryReportResponse:
    type: object
    properties:
      clientCorrelatorId:
        type: string
        description: "Message ID for which the Derivery report is being sent"
        example: "09273682261681"
      deliveryStatus:
        $ref: "#/definitions/status"
      details:
        type: string
      completedDate:
        type: string
        format: datetime
      id:
        type: number
      error:
        type: string
      senderAddress:
        type: string
      receiverAddress:
        type: string
      submittedDate:
        type: string
        format: datetime


  inboundSMSMessage:
    type: object
    required:
      - registrationId
      - senderAddress
      - message
    properties:
      dateTime:
        type: string
        description: "The time when the message is received."
        example: "2012-08-01T09:25:55.815+0000"
      registrationId:
        type: string
        description: "The number associated with service (for example, an agreed short code)"
        example: "10111"
      message:
        type: string
        description: "The SMS message itself"
        example: "Hello MADAPI SMS receiver!!!"
      senderAddress:
        type: string
        description: "The MSISDN or Anonymous Customer Reference of the sender"
        example: "27830000001"
      messageID:
        type: string
        description: "Server-generated message identifier"
        example: "4444aaz-ddsds-45"
        format: URL

  ShortCodeSubscription:
    type: object
    required:
      - notifyUrl
      - targetSystem
    properties:
      callbackUrl:
        type: string
        description: This is the calllback URL that will be invoked when an MO request comes inn
        example: "https://example.com/12acb41"
      targetSystem:
        type: string
        example: "MADAPI"
      deliveryReportUrl:
        type: string
        description: This is the URL where the delivery reports will be posted
        example: "https://example.com/delivery-report"
      serviceType:
        type: string
        enum: [MT, MO, MT/MO]
  subscriptionResponse:
    type: object
    required:
      - data
      - statusCode
      - statusMessage
      - transactionId
      - _link
    properties:
      statusCode:
        type: string
        description: This is the MADAPI Canonical Error Code (it is 4 characters long and it is not the HTTP Status Code which is 3 characters long). Back-end system errors are mapped to specific canonical error codes which are returned. More information on these mappings can be found on the MADAPI Confluence Page 'Response Codes'
        example: '0000'
      statusMessage:
        type: string
        description: More details and corrective actions related to the error which can be shown to a client.
        example: 'Sucessful'
      transactionId:
        type: string
        description: MADAPI generated Id to include for tracing requests
        example: "1365478abcz-fdhsdfh54351"
      data:
        type: object
        properties:
          subscriptionId:
            type: string
            description: "Unique identifier for the subscription"
            example: "sub123456"
      _link:
        type: "object"
        required:
          - "self"
        properties:
          self:
            type: "object"
            required:
              - "href"
            description: ""
            properties:
              href:
                type: "string"
                description: ""
                example: "https://api.mtn.com/v1/messages/sms/outbound/10111/subscription"

  outboundSubscriptionDeleteResponse:
    type: object
    required:
      - data
      - statusCode
      - statusMessage
      - transactionId
      - _link
    properties:
      statusCode:
        type: string
        description: This is the MADAPI Canonical Error Code (it is 4 characters long and it is not the HTTP Status Code which is 3 characters long). Back-end system errors are mapped to specific canonical error codes which are returned. More information on these mappings can be found on the MADAPI Confluence Page 'Response Codes'
        example: '0000'
      statusMessage:
        type: string
        description: More details and corrective actions related to the error which can be shown to a client.
        example: 'Sucessful'
      transactionId:
        type: string
        description: MADAPI generated Id to include for tracing requests
        example: "1365478abcz-fdhsdfh54351"
      data:
        type: object
      _link:
        type: "object"
        required:
          - "self"
        properties:
          self:
            type: "object"
            required:
              - "href"
            description: ""
            properties:
              href:
                type: "string"
                description: ""
                example: "https://api.mtn.com/v1/messages/sms/outbound/10111/subscription/10c0d78cd4bf77e"

  Error:
    type: object
    required:
      - "statusCode"
      - "statusMessage"
      - "transactionId"
    properties:
      statusCode:
        type: string
        description: This is the MADAPI Canonical Error Code (it is 4 characters long and it is not the HTTP Status Code which is 3 characters long). Back-end system errors are mapped to specific canonical error codes which are returned. More information on these mappings can be found on the MADAPI Confluence Page 'Response Codes'
        example: '1000'
      statusMessage:
        type: string
        description: More details and corrective actions related to the error which can be shown to a client
      supportMessage:
        type: string
        description: Internal message meant for consumers of the API to troubleshoot the error (could possible include the back-end system error code in the message if it would be useful)
      transactionId:
        type: string
        description: MADAPI generated Id to include for tracing requests
      timestamp:
        type: string
        format: date-time
        description: Timestamp that the error occurred
        example: '2020-08-01T12:34'
      path:
        type: string
        description: The path that caused the error
        example: 'https://api.mtn.com/v1/'
      method:
        type: string
        description: The HTTP method type that was used
        example: 'POST'
  deliveryStatusResponse:
    type: object
    properties:
      status:
        type: string
        description: This is a confirmation of the delivery report acknoledgement
        example: 'OK'
      clientCorrelatorId:
        type: string
        description: This is the 3pp correlation ID that was initially sent when posting the message
      messageId:
        type: string
        description: This is the message ID for the message for which the delivery report is sent

  Links:
    type: "object"
    required:
      - "self"
    properties:
      self:
        type: "object"
        required:
          - "href"
        description: ""
        properties:
          href:
            type: "string"
            description: ""
            example: "https://api.mtn.com/v1/messages/sms/outbound/10111/10c0d78cd4bf77ee%40138a3d02644/deliveryStatus"
