@import '../../variables';

#app-create {
    height: 100%;
    width: 100%;

    nav {
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;

        a {
            display: flex;
            align-items: center;
            margin-right: 40px;
            color: $blue600;

            &.active {
                color: $blue900;

                span {
                    border: 2px solid $blue900;
                }
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                padding: 8px;
                border: 2px solid $blue600;
                font-size: 16px;
                margin-right: 15px;
            }
        }
    }

    .row {
        display: flex;
        flex-direction: column;
        border: 2px solid #F2F2F2;
        border-radius: 10px;
        margin-top: 20px;
        padding: 40px;

        > div {
            padding: 10px 20px 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            > svg {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 3rem;
                height: 100%;
                width: 10%;
            }

            > div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            label {
                margin-bottom: 1.5rem;
                font-size: 16px;
            }

            svg {
                width: 12%;
            }

            textarea {
                resize: none;
            }

            button {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .group {
                display: flex;
                flex-direction: column;
                margin-bottom: 3rem;
                width: 50%;
            }

            .buttons {
                display: flex;

                button:nth-of-type(1) {
                    margin-right: 20px;
                }
            }
        }
    }

    [type="reset"] {
        display: block;
        background-color: transparent;
        border: transparent;
        font-size: 16px;
        margin: 40px auto 20px;
    }
}
