@import '../../variables';

#sidebar {
    @media screen and (max-width: 1023px), (max-height: 375px) {
        display: none;
    }
}

#heading {
    .create-new {
        @media screen and (min-width: 768px) {
            &::before {
                content: "Create new";
            }
        }

        @media screen and (max-width: 768px) {
            &::before {
                content: "New";
            }
        }
    }
}

.ownership-request{
    background-color: #0C678F;
    width: 560px;
    // position: fixed;
    // right: 62px;
    // top: 40px;
    position: absolute;
    right: 38px;
    top: -32px;
    height: 83px;
    box-sizing: border-box;
    z-index: 5;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 19px;
    display: flex;
    pointer-events: auto;

    @media(max-width:767px){
        position: fixed;
        top: 50px;
        width: 90%;
        height: auto;
        padding-bottom: 30px;
        left: 5%;
    }

    svg{
        &:nth-child(1){
            width: 60px;
        }
    }

    .message-container{
        color: #fff;
        margin-left: 13px;
        margin-top: 8px;
        width: 84%;

        @media(max-width: 768px){
            padding-right: 30px;
        }

        a{
            text-decoration: underline;
            color: #fff;
            cursor: pointer;
        }
    }

    .close-banner{
        width: 19px;
        height: 22px;
        position: absolute;
        right: 7px;
        top: 3px;
        border: none;
        background-color: transparent;
        padding: 0px;
        cursor: pointer;

        &:hover{
            background-color: transparent;
        }
    }

    &.hide{
        opacity: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
    }
}

// NO APPS
#app-empty {
    height: 100%;
    width: 100%;
    padding: 0;

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 2px solid #F2F2F2;
        border-radius: 10px;
        margin-top: 20px;
        padding: 40px;

        button {
            margin: auto;
        }
    }
}

.app-main-container{

}

#app-index {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-y: hidden;
    overflow-x: auto;

    @media screen and (max-width: 768px) {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .row {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border: 2px solid #F2F2F2;
        border-radius: 10px;

        @media #{$small} {
            overflow-x: auto;
            padding-bottom: 10px;
            width: 900px;
        }

        >div {
            padding: 10px 20px 10px;
        }
    }

    // .approved-apps,
    // .revoked-apps {
    //     @media #{$small} {
    //         width: 776px;
    //     }
    // }

    .heading-app {
        display: flex;
        align-items: center;
        cursor: pointer;

        h3 {
            margin-left: 10px
        }

        svg {
            transform: rotate(0deg);
            transition: transform .1s linear;

            &.active {
                transform: rotate(180deg);
                transition: transform .1s linear;
            }
        }
    }

    .my-apps {

        .column:nth-of-type(1) {
            width: 30%;
        }

        .column:nth-of-type(2) {
            width: 20%;
        }

        .column:nth-of-type(3) {
            width: 25%;
        }

        .column:nth-of-type(4) {
            width: 15%;
        }

        .column:nth-of-type(5) {
            width: 10%;
            display: flex;
            justify-content: flex-end;
        }

        .head {
            border-bottom: 2px solid $grey300;
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            p {
                white-space: nowrap;
            }
        }

        .body {
            display: flex;
            flex-wrap: wrap;
            padding-top: 10px;

            p {
                word-break: break-word;
                padding-right: 20px;
            }
        }

        &.collapse {
            display: none;
        }
    }

    .loading .status-bar {
        background-image:
            repeating-linear-gradient(-45deg,
            transparent,
            transparent 1rem,
            #FFFFFF4D 1rem,
            #FFFFFF4D 2rem);
        background-size: 200% 200%;
        animation: barberpole 4s linear infinite;
    }

    @keyframes barberpole {
        100% {
            background-position: 100% 100%;
        }
    }
}

#status-dialog {
    .dialog-content {
        width: 400px;
    }

    .status-dialog-textarea {
        width: 100%;
    }

    .status-dialog-button {
        margin-top: 20px;
    }
}

#filter-form {
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column;

        select,
        input {
            width: 100%;
        }
    }
}

.status-separator {
    width: 100%;
    height: 1px;
    background-color: #FFF;
    margin: 5px auto;
}

.product-filters {
    display: flex;

    @media screen and (min-width: 768px) {
        align-items: flex-end;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    h3 {
        font-size: 16px;
        margin: 0 0 10px 0;
    }
}

.prodict-filter {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}

#clearFilter {
    margin-bottom: 2px;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 20px 0 10px;
    }
}

.admin #main {
    .app .detail .products .product {
        padding: 8px 8px 26px 26px;

        .status-bar {
            position: absolute;
            height: calc(100% - 15px);
            left: 8px;
        }
    }

    .product .log-notes {
        position: absolute;
        bottom: 0;
        left: 26px;
        color: #646464;
        background: none;
        border: none;
        padding: 0;
    }

    .mdp-dialog.note-dialog .dialog-content {
        padding-right: 0;

        h3 {
            margin-top: 0;
        }

        .note {
            max-height: 420px;
            width: 360px;
            overflow-y: auto;
            padding-right: 40px;
            word-break: break-word;
        }
    }

}

.updated-app{
    .head{
        .column {
            font-size: 14px;

            &:nth-child(1){
                width: 23%;
            }

            &:nth-child(2){
                width: 25%;
            }

            &:nth-child(3){
                width: 12%;
            }

            &:nth-child(4){
                width: 10%;
            }

            &:nth-child(4){
                width: 20%;
            }

            &:nth-child(5){
                width: 10%;
            }
        }
    }

    .app-updated-body{
        .column {
            position: relative;

            &:nth-child(1){
                width: 23%;
            }

            &:nth-child(2){
                width: 25%;
            }

            &:nth-child(3){
                width: 12%;
            }

            &:nth-child(4){
                width: 10%;
            }

            &:nth-child(4){
                width: 20%;
            }

            &:nth-child(5){
                width: 10%;
                display: flex;
            }

            .toggle-app-button{
                margin-top: 10px;
            }

            .actions{
                top: -10px;
            }
        }
    }

    .head {
        border-bottom: 2px solid $grey300;
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        p {
            white-space: nowrap;
            font-weight: bold;
            position: relative;

            svg{
                width: 16px;
                margin-bottom: -7px;
                margin-left: 2px;
            }
        }
    }

    .body {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;

        p {
            word-break: break-word;
            padding-right: 20px;
        }
    }

    &.collapse {
        display: none;
    }

    .details-row-container{
        display: flex;

        .detail-item{
            width: 30%;
        }

        .detail-item-description{
            width: 284px;
        }
    }

    .copy-btn{
        position: absolute;
        right: 46px;
    }
}

