@import '../../variables';

#sidebar {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

#heading {
    .create-new {
        @media screen and (min-width: 768px) {
            &::before {
                content: "Create new";
            }
        }

        @media screen and (max-width: 768px) {
            &::before {
                content: "New";
            }
        }
    }
}

// NO APPS
#app-empty {
    height: 100%;
    width: 100%;
    padding: 0;

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 2px solid #F2F2F2;
        border-radius: 10px;
        margin-top: 20px;
        padding: 40px;

        button {
            margin: auto;
        }
    }
}


#app-index {
    height: 100%;
    width: 100%;
    padding: 0;

    .row {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border: 2px solid #F2F2F2;
        border-radius: 10px;

        @media #{$small} {
            overflow-x: auto;
            padding-bottom: 10px;
        }

        >div {
            padding: 10px 20px 10px;
        }
    }

    .approved-apps,
    .revoked-apps {
        @media #{$small} {
            width: 776px;
        }
    }

    .heading-app {
        display: flex;
        align-items: center;
        cursor: pointer;

        h3 {
            margin-left: 10px
        }

        svg {
            transform: rotate(0deg);
            transition: transform .1s linear;

            &.active {
                transform: rotate(180deg);
                transition: transform .1s linear;
            }
        }
    }

    .my-apps {

        .column {
            div {
                flex-grow: 1;
            }
        }

        .column:nth-of-type(1) {
            width: 30%;
        }

        .column:nth-of-type(2) {
            width: 20%;
        }

        .column:nth-of-type(3) {
            width: 25%;
        }

        .column:nth-of-type(4) {
            width: 15%;
        }

        .column:nth-of-type(5) {
            width: 10%;
            display: flex;
            justify-content: flex-end;
        }

        .head {
            border-bottom: 2px solid $grey300;
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            p {
                white-space: nowrap;
            }
        }

        .body {
            display: flex;
            flex-wrap: wrap;
            padding-top: 10px;

            p {
                word-break: break-word;
                padding-right: 20px;
            }
        }

        &.collapse {
            display: none;
        }
    }

    .loading .status-bar {
        background-image:
            repeating-linear-gradient(-45deg,
            transparent,
            transparent 1rem,
            #FFFFFF4D 1rem,
            #FFFFFF4D 2rem);
        background-size: 200% 200%;
        animation: barberpole 4s linear infinite;
    }

    @keyframes barberpole {
        100% {
            background-position: 100% 100%;
        }
    }
}

#status-dialog {
    .dialog-content {
        width: 400px;
    }

    .status-dialog-textarea {
        width: 100%;
    }

    .status-dialog-button {
        margin-top: 20px;
    }
}

#filter-form {
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column;

        select,
        input {
            width: 100%;
        }
    }
}

.status-separator {
    width: 100%;
    height: 1px;
    background-color: #FFF;
    margin: 5px auto;
}

.product-filters {
    display: flex;

    @media screen and (min-width: 768px) {
        align-items: flex-end;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    h3 {
        font-size: 16px;
        margin: 0 0 10px 0;
    }
}

.prodict-filter {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}

#clearFilter {
    margin-bottom: 2px;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 20px 0 10px;
    }
}

.admin #main {
    .app .detail .products .product {
        padding: 8px 8px 26px 26px;

        .status-bar {
            position: absolute;
            height: calc(100% - 15px);
            left: 8px;
        }
    }

    .product .log-notes {
        position: absolute;
        bottom: 0;
        left: 26px;
        color: #646464;
        background: none;
        border: none;
        padding: 0;
    }

    .mdp-dialog.note-dialog .dialog-content {
        padding-right: 0;

        .note {
            max-height: 400px;
            max-width: 340px;
            overflow-y: auto;
            padding-right: 40px;
        }
    }
}
