/node_modules
/public/hot
/public/css/*
/public/js/*
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
*.code-workspace
.setup/
docker-compose.yml
setup/
public/.DS_Store
public/images/.DS_Store
public/images/icons/.DS_Store
.DS_Store
/public/images/icons
/public/openapi
