@use "variables";

@use "sass:map";
@use "sass:meta";
@use "sass:string";
@function str-replace($string, $search, $replace: '') {

    $index: string.index($string, $search);

    @if $index {
        @return string.slice($string, 1, $index - 1)+$replace+str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
    }

    @return $string;
}

@function get-icon($icon, $colour: #000000) {

    @if 'color' != meta.type-of( $colour ) {
        $colour: #000000;
    }

    $icon: map.get(variables.$icons, $icon);
    $data-svg-prefix: 'data:image/svg+xml;utf-8,';
    $data-uri: str-replace(url($data-svg-prefix + $icon ), '2000/svg"', '2000/svg" fill="' + $colour + '"');

    @return str-replace($data-uri, '#', '%23');
}
