@import "vendor/normalize";

html,body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a
p,
div,
input,
button,
select,
textarea {
    box-sizing: border-box;
    position: relative;
}