// Colours
$yellow: #FC0;
$yellow900: mix(#FFFFFF, $yellow, 20%);
$yellow800: mix(#FFFFFF, $yellow, 40%);
$yellow700: mix(#FFFFFF, $yellow, 60%);
$yellow600: mix(#FFFFFF, $yellow, 80%);

$blue: #0f6987;
$blue900: mix(#FFFFFF, $blue, 20%);
$blue800: mix(#FFFFFF, $blue, 40%);
$blue700: mix(#FFFFFF, $blue, 60%);
$blue600: mix(#FFFFFF, $blue, 80%);

$grey900: mix(#FFFFFF, #000000, 10%);
$grey800: mix(#FFFFFF, #000000, 20%);
$grey700: mix(#FFFFFF, #000000, 40%);
$grey600: mix(#FFFFFF, #000000, 60%);
$grey500: mix(#FFFFFF, #000000, 80%);
$grey400: mix(#FFFFFF, #000000, 90%);
$grey300: mix(#FFFFFF, #000000, 95%);
$grey200: mix(#FFFFFF, #000000, 98%);

$green: #19AC4A;

$red: #BB1E4F;

$success: #468847;
$success900: mix(#FFFFFF, $success, 20%);

$warning: #f89406;
$warning900: mix(#FFFFFF, $warning, 20%);

$error: #b94a48;
$error900: mix(#FFFFFF, $error, 20%);

// Spacing
$gutter: 40px;
$gutterSmall: 20px;

// Icons
$icons: (
    'plus': '<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
    'arrow-left': '<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>',
    'arrow-right': '<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>',
    'arrow-down': '<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path d="M0 0h24v24H0V0z" fill="none"/></svg>',
    'chevron-right': '<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
    'arrow-forward': '<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
	'edit': '<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
	'thumb-down': '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/></svg>',
	'thumb-up': '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/></svg>',
);