// Colours
$yellow: #fc0;
$yellow900: mix(#ffffff, $yellow, 20%);
$yellow800: mix(#ffffff, $yellow, 40%);
$yellow700: mix(#ffffff, $yellow, 60%);
$yellow600: mix(#ffffff, $yellow, 80%);
$yellow500: mix(#ffffff, $yellow, 90%);

$blue: #0c678f;
$blue900: mix(#ffffff, $blue, 20%);
$blue800: mix(#ffffff, $blue, 40%);
$blue700: mix(#ffffff, $blue, 60%);
$blue600: mix(#ffffff, $blue, 80%);
$blue300: #97B9C8;
$blue200: #C0D2D9;

$grey900: mix(#ffffff, #000000, 10%);
$grey800: mix(#ffffff, #000000, 20%);
$grey750: mix(#ffffff, #000000, 30%);
$grey700: mix(#ffffff, #000000, 40%);
$grey600: mix(#ffffff, #000000, 60%);
$grey500: mix(#ffffff, #000000, 80%);
$grey400: mix(#ffffff, #000000, 90%);
$grey300: mix(#ffffff, #000000, 95%);
$grey200: mix(#ffffff, #000000, 98%);

$green: #19ac4a;

$orange: #fd6506;

$red: #bb1e4f;

$pink: #FF2C6E;
$pink300: #C94B72;
$pink200: #D67896;

$purple: #7121ea;

$white: #ffffff;

$black: #000000;

$success: $green;
$success900: mix(#ffffff, $success, 20%);

$warning: $orange;
$warning900: mix(#ffffff, $warning, 20%);

$error: $red;
$error900: mix(#ffffff, $error, 20%);

$info: $blue;
$info900: mix(#ffffff, $info, 20%);

// Spacing
$gutter: 40px;
$gutterSmall: 20px;

// Icons
$icons: (
    "plus":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
    "minus":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 13H5v-2h14v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
    "done":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>',
    "arrow-left":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>',
    "arrow-right":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>',
    "arrow-down":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path d="M0 0h24v24H0V0z" fill="none"/></svg>',
    "chevron-right":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
    "chevron-down":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>',
    "arrow-forward":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
    "edit":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
    "close":
        '<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>',
    "map-marker":
        '<svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="-2 0 20 24" width="60"><path d="M10,1.375c-3.17,0-5.75,2.548-5.75,5.682c0,6.685,5.259,11.276,5.483,11.469c0.152,0.132,0.382,0.132,0.534,0c0.224-0.193,5.481-4.784,5.483-11.469C15.75,3.923,13.171,1.375,10,1.375 M10,17.653c-1.064-1.024-4.929-5.127-4.929-10.596c0-2.68,2.212-4.861,4.929-4.861s4.929,2.181,4.929,4.861C14.927,12.518,11.063,16.627,10,17.653 M10,3.839c-1.815,0-3.286,1.47-3.286,3.286s1.47,3.286,3.286,3.286s3.286-1.47,3.286-3.286S11.815,3.839,10,3.839 M10,9.589c-1.359,0-2.464-1.105-2.464-2.464S8.641,4.661,10,4.661s2.464,1.105,2.464,2.464S11.359,9.589,10,9.589"></path></svg>',
    "phone":
        '<svg xmlns="http://www.w3.org/2000/svg" height="60" viewBox="1 0 20 24" width="60"><path d="M13.372,1.781H6.628c-0.696,0-1.265,0.569-1.265,1.265v13.91c0,0.695,0.569,1.265,1.265,1.265h6.744c0.695,0,1.265-0.569,1.265-1.265V3.045C14.637,2.35,14.067,1.781,13.372,1.781 M13.794,16.955c0,0.228-0.194,0.421-0.422,0.421H6.628c-0.228,0-0.421-0.193-0.421-0.421v-0.843h7.587V16.955z M13.794,15.269H6.207V4.731h7.587V15.269z M13.794,3.888H6.207V3.045c0-0.228,0.194-0.421,0.421-0.421h6.744c0.228,0,0.422,0.194,0.422,0.421V3.888z"></path></svg>'
);

// breakpoints
$small: '(max-width: 767px)';
$phone-landscape: '(min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)';
$medium: '(min-width: 768px) and (max-width: 1023px)';
$medium-portrait: '(min-width: 768px) and (orientation: portrait)';
$large: '(min-width: 1024px)';
$large-portrait: '(min-width: 1024px) and (orientation: portrait)';
$xlarge: '(min-width: 1200px)';
