#alert {
    color: #FFF;
    transition: transform 512ms, opacity 512ms;
    z-index: 2;
    position: fixed;
    bottom: 40px;
    max-width: 256px;
    right: 0;
    pointer-events: none;
    padding-left: 20px;
    padding-right: 30px;
    opacity: 0;

    &.open {
        transform: translateX(-40px);
        opacity: 1;
        pointer-events: auto;
    }

    button {
        background: none;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        font-size: 32px;
        color: #FFF;
    }

    &.success {
        background-color: $success;
    }

    &.warning {
        background-color: $warning;
    }

    &.error {
        background-color: $error;
    }

    &.info {
        background-color: $info;
    }

    ul {
        list-style: none;
        padding: 20px 0 10px;
        margin: 0;

        li {
            padding: 0 0 10px;
            word-break: break-word;
        }
    }
}
