#alert {
    color: #FFF;
    text-align: center;
    max-height: 180px;
    transition: max-height 0.512s;
    overflow: hidden;

    &.close {
        max-height: 0;
    }

    .fab {
        position: absolute;
        top: $gutterSmall;
        right: 8%;
    }

    &.success {
        background-color: $success;

        .fab {
            background-color: $success;
            border-color: $success;

            &:hover {
                background-color: $success900;
            }
        }
    }

    &.warning {
        background-color: $warning;

        .fab {
            background-color: $warning;
            border-color: $warning;

            &:hover {
                background-color: $warning900;
            }
        }
    }

    &.error {
        background-color: $error;

        .fab {
            background-color: $error;
            border-color: $error;

            &:hover {
                background-color: $error900;
            }
        }
    }

    &.info {
        background-color: $info;

        .fab {
            background-color: $info;
            border-color: $info;

            &:hover {
                background-color: $info900;
            }
        }
    }

    ul {
        list-style: none;
        padding: $gutterSmall 0;
        margin: 0;
    }
}
