#alert,
#alert-loading {
    color: #FFF;
    transition: transform 256ms, opacity 256ms;
    z-index: 100;
    position: fixed;
    right: 0;
    pointer-events: none;
    padding-left: 76px;
    padding-right: 30px;
    opacity: 0;
    border-radius: 10px;
    background-position: 20px 22px;
    background-size: 40px;
    background-repeat: no-repeat;
    min-height: 80px;

    @media screen and (min-width: 768px) {
        max-width: 256px;
        top: 40px;
    }

    @media screen and (max-width: 767px) {
        max-width: calc(100% - 20px);
        top: 10px;
    }

    &.open {
        opacity: 1;
        pointer-events: auto;

        @media screen and (min-width: 768px) {
            transform: translateX(-40px);
        }

        @media screen and (max-width: 767px) {
            transform: translateX(-10px);
        }
    }
}

#alert {
    button {
        background: none;
        border: none;
        position: absolute;
        top: 4px;
        right: 4px;
        padding: 0;
        width: 24px;
        height: 24px;
        font-size: 22px;
        color: #FFF;
        font-family: 'sans-serif';
        border-radius: 0;
    }

    &.success {
        background-color: $success;
        background-image: url('/images/icons/success.svg');
    }

    &.warning {
        background-color: $warning;
        background-image: url('/images/icons/warning.svg');
    }

    &.error {
        background-color: $error;
        background-image: url('/images/icons/error.svg');
    }

    &.info {
        background-color: $info;
        background-image: url('/images/icons/info.svg');
    }

    ul {
        list-style: none;
        padding: 20px 0 10px;
        margin: 0;

        li {
            padding: 0 0 10px;
            word-break: break-word;
        }
    }
}

#alert-loading {
    background-color: $blue;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    min-height: auto;

    svg {
        margin-left: 10px;
        width: 18px;
        filter: invert(100%);
        flex-shrink: 0;
    }
}
