/*
    The button css component is styled to affect all buttons on the page with just a <button> element.
    The idea is that it will have sane defaults that can be overwritten with styles applied to it.
    The classes describe what you want to do,
    for example if you want a button that is blue, has an arrow-right icon after the text, you would right:
    <button class="blue arrow-right after">button text</button>
    or if you want a button that is outlined, has a arrow left button before the text, you would right:
    <button class="outline arrow-left before">button text</button>
    or a fab button with a plus icon:
    <button class="fab plus"></button>
*/

button,
.button {
    height: 34px;
    line-height: 1;
    background-color: $yellow;
    background-position: center center;
    background-size: 16px;
    background-repeat: no-repeat;
    border: 2px solid $yellow;
    border-radius: 22px;
    padding: 0 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $grey900;

    &.small {
        height: 24px;
        font-size: 1.2rem;
    }

    &.blue {
        background-color: $blue;
        border: 2px solid $blue;

        &:hover {
            background-color: mix(#ffffff, $blue, 20%);
            border-color: mix(#ffffff, $blue, 20%);
        }
    }

    &.white {
        background-color: $white;
        border: 2px solid $white;

        &:hover {
            background-color: mix($black, $white, 20%);
            border-color: mix($black, $white, 20%);
        }
    }

    &.dark {
        background-color: #000;
        border: 2px solid #000;

        &:hover {
            background-color: mix(#ffffff, #000, 20%);
            border-color: mix(#ffffff, #000, 20%);
        }

        &.kinda {
            background-color: $grey900;
            border: 2px solid $grey900;
        }
    }

    &.medium {
        background-color: $grey800;
        border: 2px solid $grey800;

        &:hover {
            background-color: mix(#ffffff, $grey800, 20%);
            border-color: mix(#ffffff, $grey800, 20%);
        }
    }

    &.light {
        background-color: $grey700;
        border: 2px solid $grey700;

        &:hover {
            background-color: mix(#ffffff, $grey700, 20%);
            border-color: mix(#ffffff, $grey700, 20%);
        }
    }

    &.lightest {
        background-color: $grey500;
        border: 2px solid $grey500;

        &:hover {
            background-color: mix(#ffffff, $grey500, 20%);
            border-color: mix(#ffffff, $grey500, 20%);
        }
    }

    &.flex {
        display: flex;
    }

    &.blue:not(.outline),
    &.dark:not(.outline),
    &.light:not(.outline),
    &.lightest:not(.outline),
    &.medium:not(.outline) {
        color: #fff;
    }

    &.fab {
        padding: 0;
        width: 34px;
        border-radius: 50%;
    }

    &.image {
        background-size: cover;
        background-position: center center;
    }

    &.before::before,
    &.after::after {
        background-position: center center;
        background-size: 16px;
        background-repeat: no-repeat;
        content: "";
        height: 16px;
        width: 16px;
        display: inline-block;
    }

    &.before::before {
        margin-right: 5px;
    }

    &.after::after {
        margin-left: 5px;
    }

    @each $icon,
    $svg in $icons {

        &.before.#{$icon}::before,
        &.after.#{$icon}::after {
            background-image: get-icon("#{$icon}", #000000);
        }

        &.dark.before.#{$icon}:not(.outline)::before,
        &.dark.after.#{$icon}:not(.outline)::after,
        &.medium.before.#{$icon}:not(.outline)::before,
        &.medium.after.#{$icon}:not(.outline)::after,
        &.blue.before.#{$icon}:not(.outline)::before,
        &.blue.after.#{$icon}:not(.outline)::after {
            background-image: get-icon("#{$icon}", #ffffff);
        }

        &.fab.#{$icon} {
            background-image: get-icon("#{$icon}", #000000);
        }

        &.dark.fab.#{$icon}:not(.outline),
        &.medium.fab.#{$icon}:not(.outline),
        &.blue.fab.#{$icon}:not(.outline) {
            background-image: get-icon("#{$icon}", #ffffff);
        }

        &.dark.before.#{$icon}.outline:hover::before,
        &.dark.after.#{$icon}.outline:hover::after,
        &.dark.fab.#{$icon}.outline:hover,
        &.blue.before.#{$icon}.outline:hover::before,
        &.blue.after.#{$icon}.outline:hover::after,
        &.blue.fab.#{$icon}.outline:hover {
            background-image: get-icon("#{$icon}", #ffffff);
        }
    }

    &.outline {
        background-color: transparent;

        &.white:hover {
            background: $white;
            border-color: $white;
        }

        &.dark:hover {
            color: #fff;
        }

        &.blue:hover {
            color: #fff;
        }

        &.light {
            color: $grey700;
        }

        &.yellow {
            color: $yellow;
        }

        &.lightest {
            color: $grey500;
        }

        &.light:hover,
        &.lightest:hover {
            color: #fff;
        }

        &.yellow:hover {
            color: $grey900;
        }
    }

    &:hover {
        background-color: mix(#ffffff, $yellow, 20%);
        border-color: mix(#ffffff, $yellow, 20%);
    }
}

button[disabled] {
    background-color: $grey300;
    border-color: $grey300;
    color: $grey700;
}
