#footer {
    background-color: $grey900;
    color: #FFF;
    position: relative;
    flex-shrink: 0;

    .footer-curve {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        background-color: transparent;
        width: 100%;
        margin-bottom: -1px;
    }

    .footer-inner {
        padding: 4% 40px;
        position: relative;
        font-size: 1rem;

        @media #{$small} {
            display: flex;
            flex-direction: column;
        }
    }

    p {
        @media #{$small} {
            order: 3;
        }
    }

    .link-to {
        color: #FFF;
        margin-right: 14px;

        @media #{$small} {
            order: 4;
        }
    }

    .logo,
    .social {
        position: absolute;
        margin-right: 40px;
        right: 0;
        top: 0;

        @media #{$small} {
            position: relative;
            margin: 0;
        }
    }

    .logo {
        margin-top: 4%;

        @media #{$small} {
            order: 1;
            margin-bottom: 2rem;
        }

        svg {
            width: 72px;
            height: auto;
            fill: #FFF;
        }
    }

    .social {
        margin-top: calc(4% + 80px);

        a {
            margin-left: 10px;

            &:first-of-type {
                @media #{$small} {
                    margin-left: 0;
                }
            }
        }

        @media #{$small} {
            order: 2;
            margin-top: 0;
        }
    }
}
