#footer {
    background-color: $grey900;
    color: #FFF;
    font-size: 1rem;
    position: relative;
    flex-shrink: 0;

    .footer-inner {
        padding: 4% 8%;
        position: relative;
    }

    p {
        margin-right: 120px;
    }

    .link-to {
        color: #FFF;
        margin-right: 14px;
    }

    .logo,
    .social {
        position: absolute;
        margin-right: 8%;
        right: 0;
        top: 0;
    }

    .logo {
        margin-top: 4%;
    }

    .social {
        margin-top: calc(4% + 80px);
        a {
            margin-left: 10px;
        }
    }
}
