h1, h2, h3, h4, h5, h6 {
    &.with-icon {
        padding-left: 30px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 16px;
        position: absolute;
    }
    @each $icon, $svg in $icons {
        &.#{$icon}::before {
            content: "";
            position: relative;
            width: 30px;
            height: 30px;
            background-image: get-icon("#{$icon}", $yellow);
            position: absolute;
            left: 0;
        }
    }
}