#header {
    height: 80px;
    background-color: $yellow;

    .header-inner {
        height: 80px;
        padding: 0 8%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .site-name {
        margin-left: $gutterSmall;
        font-size: 1.8rem;
        flex-grow: 1;
    }

    .main-menu {
        list-style: none;

        li {
            display: inline-block;
            font-size: 1.6rem;
            padding: 0 10px;
        }
    }

    input {
        margin: 0 20px 0 10px;
    }
}

#profile {
    margin-left: $gutterSmall;
    z-index: 4;
}

#profile-menu {
    position: absolute;
    background-color: #FFF;
    padding: 20px;
    top: 54px;
    right: 8%;
    list-style: none;
    margin: 0 -32px 0 0;
    width: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.180s ease-in, transform 0.180s ease-in;

    .show-profile-menu & {
        opacity: 1;
        pointer-events: auto;
        transform: translate(0, 10px);
        z-index: 2;
    }
}

#profile-menu-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    .show-profile-menu & {
        pointer-events: auto;
        z-index: 2;
    }
}
