input,
textarea {
    border-radius: 5px;
    border: 1px solid $grey400;
    padding: 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    ::-webkit-input-placeholder {
        color: pink;
    }

    ::-moz-placeholder {
        opacity: 1;
        color: pink;
    }

    :-ms-input-placeholder {
        color: pink;
    }

    :-moz-placeholder {
        opacity: 1;
        color: pink;
    }
}

textarea {
    padding: 10px;
}

select {
    height: 40px;
    padding: 0 22px 0 10px;
    border: 1px solid $grey400;
    background-image: get-icon("arrow-down", #000000);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: calc(100% - 6px) center;
    background-color: #FFF;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;

    &.dark {
        background-color: #000;
        border: 1px solid #000;
        background-image: get-icon("arrow-down", #FFFFFF);
        color: #FFF;
    }
}

input[type="text"],
input[type="email"],
input[type="number"] {
    height: 40px;

    &.thin {
        height: 32px;
    }

    &.alt {
        height: 32px;
        border: none;
        border-bottom: 1px solid $grey400;
        padding: 0;
    }
}

:not(.switch)>input[type="checkbox"] {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    cursor: pointer;

    &:checked {
        background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>');
    }
}

.switch {
    background-color: $grey700;
    border-radius: 12px;
    position: relative;
    display: inline-block;
    cursor: pointer;

    &.yellow {
        background-color: $yellow;
    }

    .ball {
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        background-color: $grey900;
        transition: transform 0.128s ease-out;
    }

    &.ball-white .ball {
        background-color: #FFF;
    }

    &.big {
        height: 24px;
        width: 40px;

        .ball {
            width: 20px;
            height: 20px;
        }
    }

    &.small {
        height: 20px;
        width: 32px;

        .ball {
            height: 16px;
            width: 16px;
        }
    }

    input {
        display: none;
    }

    &.big input:checked+.ball {
        transform: translate(16px, 0);
    }

    &.small input:checked+.ball {
        transform: translate(12px, 0);
    }
}
