@use "../variables";

@keyframes roll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



.layout-sidebar {
    .wrapper {
        display: flex;
        flex: 1 0 auto;
        padding-left: 0;

        @media(max-width:768px) {
            display: block;
        }

        &.container{
            @media(max-width: 768px){
                padding: 0px 0px;
            }
        }

        .site-sidebar {
            flex: 1;
            padding: 40px 40px 70px 40px;
            min-width: 270px;
            max-width: 270px;
            background-color: variables.$grey200;
            height: 100%;
            

            @media(max-width: 768px){
                display: none;
            }

            input[type='text'],
            select {
                width: 100%;
            }
        }
    }

    #main {
        @media screen and (min-width: 768px) {
            padding: 40px 40px 40px 80px;
            margin-right: 40px;
            width: 100%;
        }

        &.product-page{
            padding: 40px 5px 40px 21px;
            margin-right: 0px;
        }

        @media screen and (max-width: 768px) {
            padding: 20px;
            margin-top: 80px;
            margin-bottom: 40px;
            overflow: hidden;
            width: 100%;
        }
    }
}

.admin {
    .wrapper {
        display: flex;
        flex: 1 0 auto;

        .site-sidebar {
            flex: 1 0 300px;
            padding: 20px 0;

            background-color: variables.$grey900;
            color: #FFF;

            ul {
                list-style: none;

                li {
                    position: relative;
                }
            }

            >ul {
                margin-top: 60px;
                padding: 0 40px;
                position: fixed;
                width: 220px;

                >li {
                    padding: 8px 0;
                    border-bottom: 1px solid variables.$grey750;

                    &:before {
                        content: '';
                        background: url('/images/icons/chevron-right.svg') no-repeat center / 20px;
                        filter: invert(35%);
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }

                    &.active {
                        color: variables.$yellow;

                        >a {
                            color: variables.$yellow;
                        }

                        &:before {
                            filter: invert(100%) sepia(51%) saturate(2878%) hue-rotate(310deg) brightness(90%) contrast(119%);
                        }

                        ul {
                            border-top: 1px solid variables.$yellow;
                        }
                    }
                }

                >li.has-children {
                    &:before {
                        background: url('/images/icons/chevron-down.svg') no-repeat center / 20px;
                    }
                }

                & ul {
                    padding: 6px 0 0 0;
                    margin: 6px 0 0 0;
                    border-top: 1px solid variables.$grey750;

                    li {
                        padding: 2px 0 2px 30px;

                        &:before {
                            content: '';
                            background: url('/images/icons/chevron-right.svg') no-repeat center / 16px;
                            filter: invert(100%);
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            left: 10px;
                            top: 4px;
                        }

                        &.active {

                            a {
                                color: variables.$yellow;
                            }

                            &:before {
                                filter: invert(100%) sepia(51%) saturate(2878%) hue-rotate(310deg) brightness(90%) contrast(119%);
                            }
                        }
                    }
                }
            }

            a {
                color: #FFF;
                display: block;
            }
        }

        #sync {
            position: fixed;
            bottom: 20px;
            width: 220px;
            left: 40px;

            svg {
                margin-left: 6px;
                width: 12px;
            }

            &:hover svg {
                fill: variables.$grey900;
            }

            &.syncing svg {
                animation: roll 2s linear infinite;
            }
        }

        #search {
            border-radius: 50px;
            border: none;
            padding: 0 20px;
            background-color: variables.$yellowDark;
            background-image: url('/images/icons/search.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - 10px) center;
            background-size: 22px;

            ::-webkit-input-placeholder {
                color: variables.$grey900;
            }

            ::-moz-placeholder {
                color: variables.$grey900;
            }

            :-ms-input-placeholder {
                color: variables.$grey900;
            }

            :-moz-placeholder {
                color: variables.$grey900;
            }
        }

        #main {
            background-color: #FFF;
            padding: 0;

            @media screen and (min-width: 768px) {
                width: 100%;
            }

            section {
                padding: 40px;
                overflow: hidden;
            }

            a:not(.button) {
                color: variables.$grey900;
            }
        }
    }
}
