@use "../variables";

.tag {
    padding: 4px;
    font-size: 12px;
    line-height: 1;
    font-weight: normal;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    @media #{variables.$small} {
        height: 20px;
    }

    &.hoverable {
        text-decoration: none;
        cursor: pointer;

        &.yellow:hover {
            background-color: variables.$yellow900;
        }

        &.blue:hover {
            background-color: variables.$blue900;
        }

        &.grey:hover {
            background-color: variables.$grey900;
        }

        &.success:hover {
            background-color: variables.$success900;
        }

        &.warning:hover {
            background-color: variables.$warning900;
        }

        &.error:hover {
            background-color: variables.$error900;
        }
    }

    &.outline {
        border: 1px solid rgb(0, 0, 0);
        background-color: transparent !important;
        color: rgb(0, 0, 0);

        &.hoverable {
            background-color: transparent;
        }

        &.yellow {
            border: 1px solid variables.$yellow;
            color: variables.$yellow;
        }

        &.blue {
            border: 1px solid variables.$blue;
            color: variables.$blue;
        }

        &.grey {
            border: 1px solid variables.$grey900;
            color: variables.$grey900;
        }

        &.success {
            border: 1px solid variables.$success;
            color: variables.$success;
        }

        &.warning {
            border: 1px solid variables.$warning;
            color: variables.$warning;
        }

        &.error {
            border: 1px solid variables.$error;
            color: variables.$error;
        }
    }

    &.removeable::after {
        content: "×";
        margin-left: 6px;
        font-size: 1.2rem;
    }

    &.success {
        background-color: variables.$success;
    }

    &.warning {
        background-color: variables.$warning;
    }

    &.error {
        background-color: variables.$error;
    }

    &.yellow {
        background-color: variables.$yellow;
    }

    &.blue {
        background-color: variables.$blue;
    }

    &.grey {
        background-color: variables.$grey900;
    }
}
