.curve {
    overflow: hidden;
    padding-top: 32px;

    &::before {
        content: "";
        position: absolute;
        width: calc(100% + 20px);
        height: 72px;
        background-color: #FFF;
        border-radius: 0 0 50% 50%;
        left: -10px;
        top: -40px;
    }

    &.yellow::before {
        background-color: $yellow;
    }

    &.dark::before {
        background-color: $grey900;
    }

    &.medium::before {
        background-color: $grey300;
    }
}

.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.16);
}
