.curve {
    overflow: hidden;
    padding-top: 32px;

    &::before {
        content: "";
        position: absolute;
        width: calc(100% + 20px);
        height: 72px;
        background-color: #FFF;
        border-radius: 0 0 50% 50%;
        left: -10px;
        top: -40px;
    }

    &.yellow::before {
        background-color: $yellow;
    }

    &.dark::before {
        background-color: $grey900;
    }

    &.medium::before {
        background-color: $grey300;
    }
}

.shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.container {
    padding: 0 8%;
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.container-inner {
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;

    &.flex {
        display: flex;
    }
}

.cols {
    &:not(.inline) {
        display: flex;
        flex-flow: row wrap;

        .col {
            flex: 1 auto;
        }

        .col-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        .col-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .col-8 {
            flex: 0 0 66.666666%;
            max-width: 66.666666%;
        }
    }

    &.inline {
        font-size: 0;

        .col {
            display: inline-block;
            font-size: 1.4rem;
        }

        .col-4 {
            min-width: 33.333333%;
            max-width: 33.333333%;
            display: inline-block;
            font-size: 1.4rem;
        }

        .col-6 {
            min-width: 50%;
            max-width: 50%;
            display: inline-block;
            font-size: 1.4rem;
        }

        .col-8 {
            min-width: 66.666666%;
            max-width: 66.666666%;
            display: inline-block;
            font-size: 1.4rem;
        }
    }
}

@for $i from 0 through 5 {
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}rem;
    }

    .mr-#{$i} {
        margin-right: #{$i}rem;
    }

    .ml-#{$i} {
        margin-left: #{$i}rem;
    }

    .mx-#{$i} {
        margin-left: #{$i}rem;
        margin-right: #{$i}rem;
    }

    .my-#{$i} {
        margin-top: #{$i}rem;
        margin-bottom: #{$i}rem;
    }

    .pt-#{$i} {
        padding-top: #{$i}rem;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}rem;
    }

    .pr-#{$i} {
        padding-right: #{$i}rem;
    }

    .pl-#{$i} {
        padding-left: #{$i}rem;
    }

    .px-#{$i} {
        padding-left: #{$i}rem;
        padding-right: #{$i}rem;
    }

    .py-#{$i} {
        padding-top: #{$i}rem;
        padding-bottom: #{$i}rem;
    }
}
