@use '../variables';

.action-tab {
    align-items: center;
    background-color: variables.$purple;
    border-radius: 5px;
    color: #FFFFFF !important;
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 16px;
    padding: 15px;

    span {
        font-weight: bold;
    }

    svg:first-of-type {
        margin-left: 20px;
        width: 16px;
    }
    svg:last-child {
        margin-left: auto;
    }

    &.green {
        background-color: variables.$green;

        @media #{variables.$small} {
            margin-top: 2rem;
        }

        @media #{variables.$medium} {
            margin-top: 2rem;
        }
    }

    &:not(:last-of-type) {
        margin-right: 15px;
    }

    @media #{variables.$small} {
        margin-right: 0 !important;
    }

    @media #{variables.$medium} {
        margin-right: 0 !important;
    }
}

.action-tab:first-of-type {

    div {
        @media #{variables.$small} {
            display: none;
        }
    }

    svg:first-of-type {
        @media #{variables.$small} {
            margin-left: auto;
            order: 2;
        }
    }

    svg:last-of-type {
        @media #{variables.$small} {
            margin-left: initial;
            order: 1;
        }
    }
}

.action-tab:last-of-type {
    div {
        @media #{variables.$small} {
            display: none;
        }
    }
}
