@import '../variables';

.my-app {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .column:first-of-type {
        font-size: 14px;
    }

    .column {
        font-size: 12px;
    }

    .actions {

        &:hover {
            cursor: pointer;
        }
    }

    .actions:after {
        content: '\2807';
        font-size: 25px;
    }

    .name {
        display: flex;
        align-items: center;

        svg {
            margin-right: 20px;
        }
    }

    .regions {
        display: flex;
        align-items: center;

        svg {
            margin-right: 5px;
            width: 20px;
        }
    }

    .menu {
        background-color: $grey900;
        border-radius: 10px;
        padding: 10px;

        a {
            color: #ffffff;
        }
    }

    .detail {
        display: none;
        background-color: $grey200;
        border-radius: 24px;
        width: 100%;
        padding: 20px;

        p {
            font-size: 12px;
            margin: 0;
        }

        svg {
            margin-right: 5px;
            width: 20px;
        }

        //p:last-of-type {
        //    margin-top: 12px;
        //    margin-bottom: 10px;
        //}

        .products {
            display: flex;
            flex-wrap: wrap;

            .product {
                background-color: $grey300;
                border-radius: 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                padding: 8px;
                max-width: 250px;
                margin-right: 10px;
                margin-bottom: 10px;

                svg:not(:last-of-type) {
                    margin-right: 10px;
                }

                span {
                    margin-right: 40px;
                }

                svg:last-of-type {
                    //width: 7%;
                }
            }
        }
    }
}
