@use "../variables";

.card--product {
    position: relative;

    .card__content {

        .tag{
            color: #000000;
            background-color: transparent;
        }

        h3 {
            margin: 10px 0 0;
            word-break: break-word;
        }

        .card__body {
            margin: 15px 0 22px;
            min-height: 42px;
        }

        .enpoints-counts{
            border-radius: 4px;
            background-color: #ECECEC;
            padding: 5px 7px;
            margin: 7px 0px;

            svg{
                margin-left: 7px;
                display: inline;
                margin-block: -7px;
            }
        }

        .country-selector {
            display: flex;
            align-items: center;
            //position: absolute;
            //bottom: 0;

            .countries {
                display: flex;
                width: 114px;
                overflow: hidden;

                img {
                    height: 15px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    border-radius: 2px;
                    border: 1px solid #E4E4E4;
                }
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        margin-top: 15px;

        .blue{
            background-color: transparent;
            border: none;
            color: variables.$blue;
            margin-top: 10px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover{
                background-color: variables.$blue !important;
                color: #ffffff;
                transition: all 0.3s ease-in-out;
            }
        }

        a {
            margin-right: 5px;
            width: 100%;
            background-color: #ffffff;
            font-weight: bold;
            height: 40px;
        }

        label {
            width: 100%;
            box-sizing: border-box;

            &:hover{
                background-color: variables.$yellow500;
            }

            svg {
                margin: 0;
            }

            svg+svg {
                display: none;
            }
        }
    }

    .tag.private {
        border: 1px solid variables.$red;
        color: variables.$red;
    }

    .tag.internal {
        border: 1px solid #ffffff;
        color: #000000;
        background-color: transparent;
    }

    .view-more-country-container{
        position: absolute;
        min-width: 333px;
        background-color: #ffffff;
        border-radius: 16px;
        min-height: 200px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
        bottom: 22px;
        left: -167px;
        pointer-events: none;
        z-index: -1;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        overflow: hidden;

        @media(min-width: 1500px){
            left: -90px;
        }

        &.show{
            pointer-events: auto;
            z-index: 3;
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }

        .each-country{
            width: 100%;
            display: flex;
            border-radius: 2px;
            background: #FFF;
            box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.04);
            margin-bottom: 6px;
            padding: 10px;

            img{
                width: 24px;
                margin-right: 15px;
            }
    
            span{
                font-size: 15px;
            }
        }
    }
}

.add-product:checked+.card--product {
    border: solid 2px #fc0;

    label {
        svg {
            display: none;
        }

        svg+svg {
            display: inline;
        }
    }
}

.view-more {
    margin-left: 5px;
    display: flex;
    color: #000000;
    background-color: #E6E6E6;
    padding: 2px 8px;
    border-radius: 6px;
    margin-top: -5px;
    width: 48px;
    font-size: 14px;
}

.view-more-block{
    position: relative;
    display: inline-block;

    &:hover{

        .view-more-country-container{
            opacity: 1;
            z-index: 3;
            transition: all 0.3s ease-in-out;
            pointer-events: auto;
        }
    }
}
