.mtn-card--link {
    .fab {
        position: absolute;
        bottom: -50px;
        right: 0;
    }
    .mtn-card__body {
        font-size: 14px;
        color: #000000;
    }
    .mtn-card__header {
        font-size: 18px;
        color: #000000;
    }
}
