.card--product {
    .card__content {
        .country-selector {
            display: flex;
			align-items: center;
			.countries {
                width: 15px;
                height: 15px;
                overflow: hidden;
                img {
                    height: 15px;
                }
            }
            .view-more {
                margin-left: 5px;
                display: inline-block;
                color: #000000;
            }
            &:hover {
                > .countries {
                    transition: width 2s;
                    width: 100%;
                }
                > .view-more {
                    display: none;
                }
            }
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;
        bottom: 0;
        margin-bottom: -18px;
    }
}
