@import "../variables";

#contact-form {
    width: 478px;
    position: relative;
    margin: 0 auto;

    h1 {
        margin: $gutter 0 $gutterSmall;
    }

    input, textarea {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    label {
        position: relative;
    }

    button {
        margin: $gutter auto 0;
        display: block;
        position: relative;
    }
}