@import "../variables";

#main {
    padding: 90px $gutter $gutter;

    body>& {
        padding: 90px 8vw $gutter;
        #heading {
            padding: $gutterSmall 8vw;
        }
    }

    &>#heading {
        padding: $gutterSmall $gutter;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

#heading {
    position: absolute;
    padding: $gutterSmall $gutter;
    background-color: $grey400;

    h1 {
        margin: 0;
        display: inline;
    }

    .tag:first-child {
        margin-left: 10px;
    }

    .tag {
        vertical-align: top;
    }

    .fab {
        margin-left: 1rem;
        display: inline;
        vertical-align: top;
        margin-top: -5px;
    }

    .right-side {
        position: absolute;
        right: $gutter;
        display: flex;
        top: 0;
        height: 100%;
        align-items: center;
    }
}
