@use "../variables";

.layout-sidebar {
    #main #heading {
        @media screen and (min-width: 768px) {
            width: calc(100% + 200px);
            margin: -40px 0 40px -80px;
        }

        &.custom-heading{
            @media screen and (min-width: 768px) {
                width: calc(100% + 65px);
                margin: -39px -23px 40px -21px;
            }
        }

        @media screen and (max-width: 768px) {
            width: calc(100% + 40px);
            margin: -20px 0 20px -20px;
            padding-left: 40px !important;
            background-color: variables.$grey400 !important;
        }
    }
}

.layout-master {
    #heading {
        @media screen and (min-width: 768px) {
            width: calc(100% + 120px);
            margin: 0 0 40px -80px;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
            margin-left: -20px;
            width: calc(100% + 40px);
        }
    }
}

.layout-master-full-width {
    #heading {
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
            margin-left: -20px;
            width: calc(100% + 40px);
        }
    }
}

#heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: variables.$grey400;
    overflow: hidden;
    z-index: 1;

    span{
        font-family: variables.$MTN-Regular;
    }

    @media screen and (min-width: 768px) {
        padding: 30px 40px 30px 80px;
    }

    @media screen and (max-width: 768px) {
        padding: 20px;
    }

    .edit {
        margin-left: 10px;

        @media #{variables.$small} {
            display: none;
        }
    }

    h1 {
        margin: 0;
        display: inline;

        @media screen and (max-width: 768px) {
            line-height: 1;
        }
    }

    .tag:first-child {
        margin-left: 10px;
        text-transform: uppercase;
        color: #1d1d1d;

        @media(max-width: 768px){
            display: none;
        }
    }

    .tag {
        vertical-align: middle;
    }

    .fab:not(.edit) {
        margin-left: 1rem;
        display: inline;
        vertical-align: top;
        margin-top: -5px;
    }

    .right-side {
        position: absolute;
        display: flex;
        top: 0;
        height: 100%;
        align-items: center;

        @media screen and (min-width: 768px) {
            right: 75px;
        }

        @media screen and (max-width: 768px) {
            right: 20px;
        }
    }

    .breadcrumbs {
        list-style: none;
        padding: 0;
        width: 100%;
        margin: -10px 0 0 0;
    }

    .breadcrumb {
        display: inline-block;

        a {
            font-family: "mtn-regular", sans-serif;
            color: variables.$grey900;
        }
    }

    .breadcrumb+.breadcrumb:before {
        content: '>';
        font-family: "mtn-bold", sans-serif;
        color: variables.$grey900;
        margin-right: 4px;
    }

    .edit-page {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}
