@import "../variables";
  
  /* Hide all steps by default: */
  .step__wizzard_item {
    display: none;
    width: 100%;
    .terms_and_conditions {
      background-color: #F3F3F3;
      overflow-y: scroll;
      height: 400px;
      padding: 0px  25px 20px;
      border-radius: 10px; 

      ul {
        font-size: 11px;
        line-height: 14px;
      }
      &:after {
        margin-bottom: 10px;
      }
    }
    .switch_container {
      margin-top: 20px;
      display: flex;
      span {
        &.text {
          margin-left: 15px;
        }
      }
    }

    .item_content {
      width: 100%;
    }
    ul {
      padding: 10px;
      li {
        margin-top: 5px;
      }
    }
  }
  
  .intro {
    margin-top: 100px;
    a.login_link {
      color: #FC0 !important;
      text-decoration: none;
    }
    .header {
      font-size: 50px;
    }
    .text {
      max-width: 90%;
    }
    .return_user {
      color: #777777;
    }
  }

  .step_wizzard__footer {
      display: block;
      position: absolute;
      bottom: 15%;

      p {
        display: inline;
        color: grey;
        input {
          display: none;
        }
      }
      button {
        display: inline;
      }
  }
  .step__wizzard_container {
    height: 100vh;
    float: left;
    &.left {
      width: 30vw;
      padding: 50px;
    }
    &.right {
      width: 70vw;
    }
    input {
      height: 35px;
      width: 100%;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      transition: background-color 5000s ease-in-out 0s;
      border-bottom: 1.5px solid $grey400;
      width: 100%;
      border-radius: 5px;
      padding: 0 10px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
    .carousel_item_cnt {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)) !important;
        pointer-events: none;
      }
      div {
        position: absolute;
        left: 20%;
        margin-left: -50px;
        bottom: 14%;
        margin-bottom: -50px;
        max-width: 800px;
        h2 {
          color: #fff;
          font-size:4em;
        }
        p {
          color: #fff;
          display: block;
          font-size: 1.5em;
          line-height: 1.6em;
        }
      }
    }
  }
  .step__wizzard__content {
      padding: 80px;
      margin: 50px;
      display: table;
      vertical-align: middle;

  }
  .step__wizzard_progress_bar {
    height: 5px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .step__wizzard_bar_container {
      width: 100%;
      background: rgba(128, 128, 128, 0.31);
  }
  #stepWizzardProgress {
        background: $yellow;
  }

  .step__wizzard_content {
    padding: 10px;
  }
  .step__wizzard_header {
      margin: 20px auto 50px;
      display: flex;
      vertical-align: middle;
      img {
        width: 60px;
      }
      h2 {
        padding-top: 5px;
        margin-left: 30px;
      }
  }

  .mtn-yellow {
    color: #FC0;
  }

  h2 {
    &.header {
      font-size: 60px;
    }
  }

  h4 {
    margin-left: 30px;
    font-size: 1.25em;
  }

  .input_group {
    margin-top: 10px;
    margin-bottom: 30px;
    label {
      display: block;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 10px;
    }
    input {
      border: none;
      border-bottom: 1.5px solid $grey400;
      width: 100%;
      padding: 0px;
      border-radius: 0px;
      margin-top: 15px;
      ::-webkit-input-placeholder { /* Edge */
        color: #1D1D1D;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #1D1D1D;
      }
      ::placeholder {
        color: #1D1D1D;
        font-size: 10px;
      }
    }

    &.location_container {
      display: inline-flex;
      max-width: 200px;
    }
    .location_select_item {
      &.untouched {
        img {
          opacity: 1 !important;
          cursor: pointer;
        }
      }
      img {
        border-radius: 50%;
        width: 25px;
        margin-right: 10px;
        margin-bottom: 5px;
        opacity: 0.2;
        &.selected {
          opacity: 1 !important;
        }
      }
    }
  }

  button {
    &.password_strength {
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      margin-top: 30px;
      cursor: auto;
    }
    &.grey {
      background-color: #D2D2D2;
    }
    &.grey_dark {
      background-color: rgb(139, 139, 139);
    }
    &.yellow {
      background-color: #FC0;
    }
  }

  .locations {
    width: 260px;
    text-align: left;

    label {
        cursor: pointer;
        float: left;
        margin: 10px;
    }

    img {
        width: 25px;
        height: 25px;
    }

    input {
        display: none; 
    }

    input:checked+img {
        opacity: 1;
    }
}
.login__input_group {
  input {
    display: block;
    width: 100%;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
  }
}

.step_wizard_button_group {
  a {
    &.btn {
      color: $yellow !important;
    }
  }
}
.show-password {
  margin: 0;
  position: absolute;
  bottom: 5px;
  right: 0rem;
  background-image: url('/images/icons/visible.svg');
  background-size: 20px;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 30px;
  height: 30px;
  z-index: 1;

  &:hover {
      background-color: $yellow700;
  }
  button {
    margin: $gutter auto 0;
    display: block;
    position: relative;
  }
}

.password-visible .show-password {
  background-image: url('/images/icons/hidden.svg');
}

.invalid-feedback {
  color: #FC0;
}

#stepWizardSubmitBtn {
  display: none;
}
