@use "../../../variables";

.prod,
.preprod,
.testing,
.dev,
.staging,
.rejected,
.draft,
.sandbox,
.review{
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    padding: 4px 8px;
    text-transform: capitalize;
    margin-right: 4px;
    display: inline-flex;
}

.prod{
    color: variables.$green;
    border-color: variables.$green;
}

.preprod{
    color: variables.$orange;
    border-color: variables.$orange;
}

.staging {
    color: variables.$blue;
    border-color: variables.$blue;
}

.sandbox {
    color: variables.$purple;
    border-color: variables.$purple;
}

.testing {
    color: variables.$yellow;
    border-color: variables.$yellow;
}

.dev {
    color: variables.$blue;
    border-color: variables.$blue;
}

.rejected {
    color: variables.$red;
    border-color: variables.$red;
}

.draft {
    color: variables.$yellow;
    border-color: variables.$yellow;
}

.review {
    color: variables.$yellow;
    border-color: variables.$yellow;
}

.products-number{
    margin-top: -25px;
    margin-bottom: 20px;
}