@use "../variables";

#main,
body > #main {
    padding: 0;
}

.grey-bg {
    background-color: variables.$grey300;
}

.banner-carousel {
    padding: 0;

    .carousel {
        width: 100%;
        height: 500px;

        .carousel-item {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            &:first-child {
                background-image: url("/images/backgrounds/bg-opt-4-blue.svg");
            }

            &:nth-child(2) {
                background-image: url("/images/backgrounds/bg-opt-3-red.svg");
            }

            &:nth-child(3) {
                background-image: url("/images/backgrounds/bg-opt-2-yellow.svg");
            }

            &:nth-child(4) {
                background-image: url("/images/backgrounds/bg-opt-1-black.svg");
            }

            .carousel-content {
                padding: variables.$gutter 40px;
                max-width: 70%;
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    color: #ffffff;
                    font-size: 70px;
                }

                p {
                    color: #ffffff;
                }

                .button {
                    width: 110px;

                    @media #{variables.$small} {
                        width: 100%;
                    }

                    @media #{variables.$medium} {
                        width: 100%;
                    }

                    @media #{variables.$medium-portrait} {
                        width: 110px;
                    }
                }

                @media #{variables.$small} {
                    max-width: 100%;
                }

                @media #{variables.$medium} {
                    max-width: 100%;
                }
            }
        }
    }

    @media #{variables.$small} {
        margin-top: 80px;
    }

    @media #{variables.$medium-portrait} {
        margin-top: 80px;
    }
}

.introduction {
    text-align: center;
    padding-bottom: 40px;

    @media screen and (max-width: 768px) {
        padding-top: 40px;
    }

    p {
        padding: 0 15em;

        @media #{variables.$small} {
            padding: 0;
        }

        @media #{variables.$medium} {
            padding: initial;
        }
    }

    .key-feature {
        margin: 0 10px;

        .content {
            padding: 0;
        }
    }
}

section {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        font-size: 3rem;
        line-height: 25px;
        margin-top: 0;
        margin-bottom: 25px;
    }

    ol {
        counter-reset: listCounter;
        list-style: circle;
        display: table;
        padding: 0;

        li {
            display: block;

            &:before {
                counter-increment: listCounter;
                content: counter(listCounter);
                color: variables.$grey800;
                border: 2px solid variables.$grey800;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                margin-right: 15px;
                width: 20px;
                padding-right: 1px;
            }
        }

        li:not(:last-of-type) {
            margin-bottom: 5px;
        }
    }

    span {
        font-size: 10px;
        text-transform: uppercase;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bundle-cards {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card {
            width: 100%;

            &:not(:last-of-type) {
                margin-right: 20px;
            }
        }
    }

    .col-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .content-right,
    .image-right {
        padding-left: 20px;
    }

    .content-left,
    .image-left {
        padding-right: 20px;
    }

    a {
        margin-top: 15px;

        @media #{variables.$small} {
            width: 100%;
        }
    }
}

.products-cards {
    display: flex;
    align-items: center;

    a {
        width: calc(100% / 6);
        margin-right: 20px;

        &:last-of-type {
            margin-right: auto;
        }
    }

    @media #{variables.$medium} {
        flex-wrap: wrap;
    }
}

.steps,
.view-products {
    display: flex;
    justify-content: center;
    margin-top: variables.$gutter;
}

.steps {
    @media screen and (min-width: 768px) {
        max-width: 1024px;        
        margin-left: auto;
        margin-right: auto;
    }

    @media #{variables.$small} {
        .col {
            flex: 1 auto !important;
            max-width: 100% !important;
        }
    }
}

.container {
    @media screen and (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container-inner{
    @media screen and (min-width: 768px) {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

#section-sign-up {
    @media #{variables.$small} {
        padding-bottom: 40px;
    }

    .cols {
        @media #{variables.$small} {
            flex-direction: column;
        }

        .col-6 {
            @media #{variables.$small} {
                flex: 1 auto !important;
                max-width: 100% !important;
            }
        }

        .col-image {
            @media #{variables.$small} {
                margin-top: 80px;
            }
        }
    }

    .content-left {
        @media #{variables.$small} {
            padding-right: 0;
        }
    }

    .image-right {
        @media #{variables.$small} {
            padding-left: 0;
        }
    }

    ol {
        @media #{variables.$small} {
            width: 100%;
        }
    }

    img {
        @media #{variables.$small} {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}

#section-browse-our-products {
    .cols {
        @media #{variables.$small} {
            flex-direction: column;
        }

        .col-6 {
            @media #{variables.$small} {
                flex: 1 auto !important;
                max-width: 100% !important;
            }

            .content-right {
                @media #{variables.$small} {
                    padding: 0;
                }
            }
        }

        .col-image {
            @media #{variables.$small} {
                padding-bottom: 40px;
            }
        }
    }

    img {
        @media #{variables.$small} {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}

#section-register-an-app {
    @media #{variables.$small} {
        padding-bottom: 40px;
    }

    .cols {
        @media #{variables.$small} {
            flex-direction: column;
        }

        .col-6 {
            @media #{variables.$small} {
                flex: 1 auto !important;
                max-width: 100% !important;
            }
        }

        .col-image {
            @media #{variables.$small} {
                margin-top: 80px;
            }

            .image-right {
                @media #{variables.$small} {
                    padding: 0;
                }
            }
        }
    }

    img {
        @media #{variables.$small} {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}

#section-access-the-keys {
    .cols {
        @media #{variables.$small} {
            flex-direction: column;
        }

        .col-6 {
            @media #{variables.$small} {
                flex: 1 auto !important;
                max-width: 100% !important;
            }
        }

        .col-image {
            @media #{variables.$small} {
                padding-bottom: 20px;
            }
        }
    }

    .content-right {
        @media #{variables.$small} {
            padding-left: 0;
        }
    }

    .image-left {
        @media #{variables.$small} {
            padding-right: 0;
        }
    }

    img {
        @media #{variables.$small} {
            display: block;
            height: auto;
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}

#section-product-categories {
    .products-cards {
        @media #{variables.$small} {
            flex-direction: column;
        }

        a {
            @media #{variables.$small} {
                margin-right: 0;
                width: 100%;
            }
        }
    }
}
