@import "../variables";

#main,
body>#main {
    padding: 0;
}

.grey-bg {
    background-color: $grey300;
}

.banner-carousel .carousel {
    width: 100vw;
    height: 500px;
}

.banner-carousel .carousel .carousel-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)) !important;
        pointer-events: none;
    }

    &:first-child {
        background-image: url('/images/mtn-illustration-01.png');
    }

    &:nth-child(2) {
        background-image: url('/images/mtn-illustration-02.png');
    }

    &:nth-child(3) {
        background-image: url('/images/mtn-illustration-03.png');
    }

    &:nth-child(4) {
        background-image: url('/images/mtn-illustration-01.png');
    }

    .carousel-content {
        padding: $gutter 8%;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            color: #FFFFFF;
            font-size: 70px;
        }

        p {
            color: #FFFFFF;
            font-size: 20px;
        }

        .button {
            width: 110px;
        }
    }
}

.section-padding {
    padding: $gutter 150px;
    padding-top: 60px !important;
}

.intro-steps {
    padding-top: $gutter !important;
}

.latest-products .container-inner {
    padding-bottom: 60px !important;
    max-width: 960px;

    .products-cards {
        justify-content: space-between;
    }
}

.introduction {
    text-align: center;

    p {
        padding: 0 15em;
    }
}

.access-keys .container-inner,
.register-app .container-inner,
.browse-products .container-inner,
.sign-in .container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;

    h1 {
        margin-top: 0;
    }

    ol {
        list-style: none;
        display: table;
        padding: 0;

        li {
            counter-increment: foo;
            display: table-row;

            &:before {
                content: '\2714\0020';
                color: $yellow;
                padding-right: 10px;
                display: table-cell;
                text-align: right;
            }
        }
    }

    .content-right,
    .image-right {
        padding-left: 30px;
    }

    .content-left,
    .image-left {
        padding-right: 30px;
    }
}

.steps,
.view-products {
    display: flex;
    justify-content: center;
    margin-top: $gutter;
}

.key-feature {
    margin: 0 60px;
    max-width: 150px;
}

.products-cards {
    display: flex;
    flex-flow: row wrap;

    .card {
        margin-bottom: 30px;
        margin-right: 20px;
        width: 30%;
    }
}
