@use '../../../variables';

button.show-password {
    position: absolute;
    right: 4px;
    top: 24px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 26px;
    height: 30px;
    z-index: 1;
    display: block;
    border-radius: 50%;

    &.reset{
        background-image: url("/images/icons/visible.svg");
        background-position: center center;

        &.password-visible{
            background-image: url('/images/icons/hidden.svg');
        }
    }

    &:hover {
        background-color: variables.$yellow700;
    }
}

#main .editor-field .password-strength {
    @media screen and (min-width: 768px) {
        margin-top: -16px;
    }
}

#password-still-needs {
    font-size: 12px;
    font-family: variables.$MTN-Regular;
}

#password-strength {
    line-height: 1;
    background-color: variables.$grey500;
    border-radius: 8px;
    padding: 8px;
    transition: background-color 0.356s;
    font-size: 12px;

    @media screen and (min-width: 768px) {
        width: calc(50% - 12px);
    }

    &:before {
        content: 'Password strength';
    }

    &.password-score-0,
    &.password-score-1,
    &.password-score-2 {
        background-color: variables.$error;
        color: #FFF;

        &:before {
            content: 'Password strength weak';
        }

        &+#password-still-needs {
            margin-top: 8px;
        }
    }

    &.password-score-3,
    &.password-score-4 {
        background-color: variables.$warning;
        color: #FFF;

        &:before {
            content: 'Password strength stronger';
        }

        &+#password-still-needs {
            margin-top: 8px;
        }
    }

    &.password-score-5 {
        background-color: variables.$success;
        color: #FFF;

        &:before {
            content: 'Password strength strong';
        }

        &+#password-still-needs {
            margin-top: 8px;
        }
    }
}

.apps-filter {
    display: flex;
    width: 100%;

    @media screen and (min-width: 768px) {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 15px;
    }

    h2 {
        font-family: variables.$MTN-Regular;
        font-weight: normal;

        @media screen and (min-width: 768px) {
            font-size: 30px;
        }

        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }

    h3 {
        font-size: 14px;
        font-family: variables.$MTN-Regular;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 8px;
    }

    select {
        background-image:
            url('/images/icons/chevron-down.svg'),
            url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="0" y2="50" stroke="%23F0F0F0" /></svg>');
        background-repeat:
            no-repeat,
            no-repeat;
        background-size:
            24px,
            1px;
        background-position:
            calc(100% - 16px) center,
            calc(100% - 54px) top;
        background-color: #FFF;
        border-radius: 8px;
        border: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 196px;
        height: 40px;
        padding-left: 16px;
    }
}

#apps-list {
    thead {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .not-on-mobile {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .app-status-approved {
        color: variables.$green;
        border: 1px solid variables.$green;

        @media screen and (max-width: 767px) {
            &::before {
                background: url("/images/icons/done.svg") no-repeat center center / 16px;
                width: 12px;
                display: inline-block;
                color: transparent;
                filter: invert(56%) sepia(94%) saturate(2964%) hue-rotate(104deg) brightness(92%) contrast(80%);
            }
        }
    }

    .app-status-pending {
        color: variables.$orange;
        border: 1px solid variables.$orange;
    }

    .app-status-revoked {
        color: variables.$red;
        border: 1px solid variables.$red;

        @media screen and (max-width: 767px) {
            &::before {
                background: url("/images/icons/close.svg") no-repeat center center / 16px;
                width: 12px;
                display: inline-block;
                color: transparent;
                filter: invert(16%) sepia(62%) saturate(4069%) hue-rotate(327deg) brightness(95%) contrast(91%);
            }
        }
    }

    .status {
        box-sizing: border-box;
        border-radius: 64px;
        padding: 4px 12px;
        display: inline-flex;

        @media screen and (min-width: 768px) {
            &::before {
                content: attr(aria-label);
            }
        }

        @media screen and (max-width: 767px) {
            margin-right: 36px;

            &::before {
                content: attr(data-pending);
            }
        }
    }
}

.country-flag {
    width: 24px;
    height: 24px;
}

.go-to-app {
    position: absolute;
    top: 24px;
    right: 16px;
    display: flex;
    align-items: center;
}
