.card--product .card__content .country-selector {
  display: flex;
  align-items: center;
}

.card--product .card__content .country-selector .countries {
  width: 15px;
  height: 15px;
  overflow: hidden;
}

.card--product .card__content .country-selector .countries img {
  height: 15px;
}

.card--product .card__content .country-selector .view-more {
  margin-left: 5px;
  display: inline-block;
  color: #000000;
}

.card--product .card__content .country-selector:hover > .countries {
  transition: width 2s;
  width: 100%;
}

.card--product .card__content .country-selector:hover > .view-more {
  display: none;
}

.card--product .buttons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: -20px;
}

