.card--product .card__content {
  padding-bottom: 50px;
}

.card--product .card__content .country-selector {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.card--product .card__content .country-selector .countries {
  width: 15px;
  max-height: 15px;
  overflow: hidden;
}

.card--product .card__content .country-selector .countries img {
  height: 15px;
}

.card--product .card__content .country-selector .view-more {
  margin-left: 5px;
  display: flex;
  color: #000000;
}

.card--product .card__content .country-selector:hover > .countries {
  width: 100%;
  max-height: 50px;
  transition: max-height 0.5s;
}

.card--product .card__content .country-selector:hover > .view-more {
  display: none;
}

.card--product .buttons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: -18px;
}

.card--product .buttons a.button {
  margin-right: 5px;
}

