@-webkit-keyframes slideIn {
  0% {
    left: 100%;
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes slideIn {
  0% {
    left: 100%;
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@-webkit-keyframes slideOut {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(-200%, 0);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(-200%, 0);
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.512s;
}

.carousel.ready {
  opacity: 1;
}

.carousel .carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  -webkit-animation-duration: 0.512s;
          animation-duration: 0.512s;
  -webkit-animation-name: slideOut;
          animation-name: slideOut;
}

.carousel .carousel-item.active {
  -webkit-animation-duration: 0.512s;
          animation-duration: 0.512s;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carousel .carousel-pager {
  position: absolute;
  bottom: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel .carousel-pager-item {
  background-color: #FFF;
  border: none;
  border-radius: 100px;
  margin: 0 2px;
  height: 6px;
  width: 22px;
}

