.key-feature .body {
  text-align: center;
}

.key-feature .body .icon {
  background-color: #FC0;
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60% 60% 60% 60%/15%;
}

.key-feature .body .icon svg {
  width: 40px;
  height: 40px;
}

.key-feature .body .header {
  font-size: 18px;
  color: #1a1a1a;
}

.key-feature .body .content {
  font-size: 14px;
  color: #1a1a1a;
}

