#sidebar-accordion .accordion-menu {
  margin: 0;
}

#sidebar-accordion .accordion-menu .accordion-item a {
  color: #666666;
  font-size: 12px;
}

#sidebar-accordion .accordion-item [data-toggle=accordion-item] {
  position: relative;
  display: block;
}

#sidebar-accordion .accordion-item svg {
  position: absolute;
  display: block;
  top: 0;
  left: -8%;
  fill: #666666;
  height: 20px;
  width: 20px;
  transition: transform 0.3s;
  transform: rotate(0deg);
}

#sidebar-accordion .accordion-item .accordion-sub-items {
  margin: 10px 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.5s;
}

#sidebar-accordion .accordion-item .accordion-sub-items li {
  padding: 0;
}

#sidebar-accordion .accordion-item .accordion-sub-items li a {
  color: #333333;
  position: relative;
  display: block;
  padding-left: 20px;
}

#sidebar-accordion .accordion-item .accordion-sub-items li a svg {
  display: none;
}

#sidebar-accordion .accordion-item .accordion-sub-items li a.active {
  color: #0f6987;
}

#sidebar-accordion .accordion-item .accordion-sub-items li a.active svg {
  position: absolute;
  display: block;
  top: 2%;
  left: 0;
  fill: #0f6987;
  height: 20px;
  width: 13px;
}

#sidebar-accordion .accordion-item.show > a svg {
  transform: rotate(90deg);
}

#sidebar-accordion .accordion-item.show .accordion-sub-items {
  display: block;
  max-height: 300px;
}

#sidebar-accordion ul,
#sidebar-accordion li {
  list-style: none;
}

