@import "../../variables";

.accordion {
	margin-bottom: 10px;
    .question {
        font-family: "mtn-regular", sans-serif;
        cursor: pointer;
        transition: 0.4s;
        padding-bottom: 20px;
        border-bottom: solid 1px $grey300;
        svg {
            position: absolute;
            right: 0;
        }
    }
    .answer {
        max-height: 0;
        font-size: 16px;
        color: $grey700;
        overflow: hidden;
        transition: max-height 0.2s;
    }
}
.grey-section {
    position: absolute;
    left: 0;
    right: 0;
    background-color: $grey300;
}
