@import "../../variables";

#main {
    padding: 0 !important;
}

section:first-of-type {
    padding-bottom: 60px;
    margin-top: 120px;

    .container {
        display: flex;
    }
}

section:not(:first-of-type) {
    padding-top: 80px;
    padding-bottom: 40px;
}

.faq-section {
    .accordion {
        margin-bottom: 10px;

        .question {
            font-family: "mtn-regular", sans-serif;
            cursor: pointer;
            border-bottom: solid 1px $grey300;
            padding-bottom: 20px;

            svg {
                position: absolute;
                right: 0;
                transform: rotate(0deg);
                transition: transform 0.1s linear;
            }

            &.active {
                svg {
                    transform: rotate(180deg);
                    transition: transform 0.1s linear;
                }
            }
        }

        .answer {
            max-height: 0;
            font-size: 16px;
            color: $grey700;
            overflow: hidden;
            transition: max-height 0.2s;

            &::after {
                content: "";
                height: 20px;
                display: block;
            }
        }
    }
}
