@use "../../variables";

main {
    .container {
        font-size: 16px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;

        h1 {
            font-size: 18px;
            font-family: Montserrat;
            margin-top: 40px;
        }

        .button svg,
        button svg {
            width: 16px;
            margin-left: 5px;
        }
    }
}

section.grey-bg,
section.yellow-bg {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.breadcrumb {
    position: absolute;
    display: flex;
    right: 8%;
    top: 0;

    a {
        margin-left: 20px;
        display: flex;
    }

    svg {
        width: 12px;
        margin-left: 4px;
    }
}

.banner {

    @media #{variables.$medium-up} {

        h2,
        p {
            width: 490px;
        }

        h2 {
            margin-top: 100px;
        }
    }

    @media #{variables.$small} {
        h2 {
            margin-top: 60px;
            font-size: 40px;
            line-height: 1;
        }
    }

    .squiggle {
        position: absolute;
        top: -90px;
        right: 4%;
        width: 667px;

        @media #{variables.$small} {
            display: none;
        }
    }

    .phone {
        position: absolute;
        right: 24%;
        top: -80px;
        width: 248px;
        height: 489px;
        overflow: hidden;
        border-radius: 16px;

        @media #{variables.$small} {
            display: none;
        }

        .banner-image,
        svg {
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .banner-image {
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
        }
    }

    .view-products svg {
        width: 16px;
        margin-left: 5px;
    }

    .button {
        margin-bottom: 10px;
    }
}

.businesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media #{variables.$small} {
        margin-top: 30px;
    }

    @media #{variables.$medium-up} {
        margin-top: 100px;
    }

    h2 {
        width: 100%;
        text-align: center;
        font-size: 10px;
        color: variables.$grey500;
    }
}

.overview {
    @media screen and (min-width: 768px) {
        margin-bottom: 100px;
    }

    h3 {
        font-size: 30px;
    }

    @media #{variables.$medium-up} {
        .benefits-copy {
            width: 405px;
            margin-bottom: 145px;
        }
    }

    .stack-general.benefits {
        position: absolute;
        top: -50px;
        right: 0;

        @media #{variables.$small} {
            display: none;
        }
    }

    hr {
        color: variables.$grey300;
        margin: 40px 0;
    }

    .included {
        .col-4 {
            display: flex;
            align-items: center;
            font-size: 14px;

            @media #{variables.$small} {
                flex: 0 0 50%;
                max-width: 50%;
            }

            >svg {
                margin-right: 8px;
                width: 11px;
                height: 11px;
                background-color: variables.$yellow;
                padding: 4px;
                border-radius: 50%;
                flex-shrink: 0;
            }
        }

        a {
            color: variables.$blue;
            display: flex;

            @media #{variables.$small} {
                margin-top: 4px;
            }

            svg {
                fill: variables.$blue;
                width: 16px;
                margin-left: 10px;
            }
        }
    }
}

.example {

    .snippets {

        @media screen and (min-width: 768px) {
            background-color: #4A4A4A;
            border-radius: 5px;
            height: 154px;
            position: absolute;
            top: -210px;
            left: 8%;
            right: 8%;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .tab {
        display: inline-block;
        padding: 20px;
        font-size: 14px;
        color: #FFF;
    }

    .active {
        background-color: variables.$grey900;
    }

    .snippet {
        padding: 30px;
        position: absolute;
        bottom: 0;
        background-color: variables.$grey900;
        width: 100%;
        border-radius: 0 0 5px 5px;

        pre {
            background-color: variables.$grey900;
            padding: 0;
            margin: 0;
            font-size: 12px;
        }
    }

    .cols {
        @media #{variables.$medium-up} {
            position: absolute;
            right: 8%;
            top: 30px;

            a {
                height: 40px;
            }
        }

        @media #{variables.$small} {
            a {
                margin-bottom: 10px;
            }
        }

    }
}

.relationships {
    margin-top: 80px;

    .stack-bundle,
    .stack-product {
        display: flex;
        align-items: center;

        .stack-description {
            .tag {
                color: variables.$grey900;
            }

            h3 {
                font-size: 30px;
                margin: 20px 0;
            }

            a {
                color: variables.$blue;
                display: flex;
                margin-top: 14px;

                &:hover{
                    transition: all .3s ease-in-out;

                    svg{
                        margin-left: 15px;
                        transition: all .3s ease-in-out;
                    }
                }

                svg {
                    fill: variables.$blue;
                    width: 14px;
                    margin-left: 10px;
                    transition: all .3s ease-in-out;
                }
            }
        }

        .stack-cards {
            @media #{variables.$small} {
                display: none;
            }

            @media #{variables.$medium-up} {
                flex: 0 0 auto;
            }
        }
    }

    @media #{variables.$small} {
        .stack-product {
            margin-bottom: 40px;
        }
    }
}

// Stack general
.stack-general {
    @media #{variables.$medium-up} {
        width: 630px;
        height: 394px;
    }

    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;

    img {
        width: 410px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .stack-card {
        background-color: #FFF;
        border-radius: 5px;
        box-shadow: 0 12px 24px variables.$grey500;
        width: 490px;
        height: 238px;
        padding: 40px;
        position: absolute;
        top: 50px;
        left: 0;
        transform: translate(60px, 0) scale(1);
        transition: transform 600ms;

        &:nth-of-type(2) {
            transform: translate(60px, 30px) scale(0.95);
            transition: transform 900ms;
        }

        &:nth-of-type(1) {
            transform: translate(60px, 60px) scale(0.9);
            transition: transform 1350ms;
        }

    }

    &.activate .stack-card {
        transform: translate(0, 0) scale(1);

        &:nth-of-type(2) {
            transform: translate(0, 30px) scale(0.95);
        }

        &:nth-of-type(1) {
            transform: translate(0, 60px) scale(0.9);
        }
    }

    h3 {
        font-size: 14px;
        background-color: variables.$yellow;
        border-radius: 15px;
        padding: 5px 20px;
        font-family: Montserrat;
        position: absolute;
        top: -15px;
        left: 30px;
        margin: 0;
    }

    h4 {
        margin: 0px 0px 10px;
        font-family: "Montserrat-Bold";
        font-size: 16px;
    }

    p {
        font-family: "Montserrat-Light";
        font-size: 14px;
    }

    a {
        font-size: 14px;
        font-family: Montserrat;
        color: variables.$blue;
        display: flex;

        svg {
            fill: variables.$blue;
            width: 14px;
            margin-left: 10px;
        }
    }
}

// Stack cards
.stack-cards {
    width: 700px;
    height: 570px;

    background-size: contain;
    background-repeat: no-repeat;
    perspective: 1000px;

    &.left {
        background-position: left bottom;
        margin-left: -8%;

        .stack-card {
            top: 0;
            margin-left: 140px;
            transform: translate(0px, 60px) rotateY(10deg) rotateX(-4deg);
            transition: transform 600ms;

            &:nth-of-type(2) {
                transform: translate(-30px, 30px) scale(0.95) rotateY(10deg) rotateX(-4deg);
                transition: transform 900ms;
            }

            &:nth-of-type(1) {
                transform: translate(-60px, 0) scale(0.9) rotateY(10deg) rotateX(-4deg);
                transition: transform 1350ms;
            }
        }

        &.activate {
            .stack-card {
                transform: translate(60px, 60px) rotateY(10deg) rotateX(-4deg);

                &:nth-of-type(2) {
                    transform: translate(30px, 30px) scale(0.95) rotateY(10deg) rotateX(-4deg);
                }

                &:nth-of-type(1) {
                    transform: translate(0px, 0) scale(0.9) rotateY(10deg) rotateX(-4deg);
                }
            }
        }
    }

    &.right {
        background-position: right top;
        margin-right: -8%;

        .stack-card {
            bottom: 50px;
            right: 140px;
            transform: translate(60px, 0) rotateY(-10deg) rotateX(-4deg);
            transition: transform 600ms;

            &:nth-of-type(2) {
                transform: translate(90px, -30px) scale(0.95) rotateY(-10deg) rotateX(-4deg);
                transition: transform 900ms;
            }

            &:nth-of-type(1) {
                transform: translate(120px, -60px) scale(0.9) rotateY(-10deg) rotateX(-4deg);
                transition: transform 1350ms;
            }
        }

        &.activate {
            .stack-card {
                transform: translate(0, 0) rotateY(-10deg) rotateX(-4deg);

                &:nth-of-type(2) {
                    transform: translate(30px, -30px) scale(0.95) rotateY(-10deg) rotateX(-4deg);
                }

                &:nth-of-type(1) {
                    transform: translate(60px, -60px) scale(0.9) rotateY(-10deg) rotateX(-4deg);
                }
            }
        }
    }

    .stack-card {
        border-radius: 12px;
        width: 430px;
        height: 400px;
        padding: 40px;
        position: absolute;
    }

    h3 {
        font-size: 32px;
        line-height: 1;
        font-family: "mtn-bold";
    }

    .flags {
        height: 42px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        svg {
            width: 14px;
            margin: 0 8px 0 0;
        }
    }

    .button {
        background-color: variables.$grey300;
        border: 2px solid variables.$grey300;
        margin-top: 10px;
        font-size: 14px;
    }
}

.pricing {
    margin: 60px auto 80px;

    .popular {
        transition: 512ms;
    }

    &:not(.activate) #pricing .popular {
        transform: scale(1);
    }
}

// Themes

.mixed {
    .benefits {
        background-image: url("/images/category/themes/mixed/squiggle-benefits.svg");
    }

    .example .button svg {
        fill: #FFF;
    }

    .bundle {
        background-image: url("/images/category/themes/mixed/squiggle-bundle.svg");

        .tag {
            color: variables.$yellow;
            border: 1px solid variables.$yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: variables.$grey900;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: variables.$grey600;
            }

            &:nth-of-type(1) {
                background-color: variables.$grey500;
            }
        }
    }

    .product {
        background-image: url("/images/category/themes/mixed/squiggle-product.svg");

        .tag {
            color: variables.$yellow;
            border: 1px solid variables.$yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: variables.$blue;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: #9EC2D2;
            }

            &:nth-of-type(1) {
                background-color: #CEE1E8;
            }
        }
    }

    #pricing .popular:before {
        background-color: variables.$blue;
    }
}

.standard {
    .banner {
        .view-products {
            background-color: variables.$grey900;
            border: 2px solid variables.$grey900;
            color: #FFF;
        }

        svg {
            fill: #FFF;
        }
    }

    .benefits {
        background-image: url("/images/category/themes/standard/squiggle-benefits.svg");
    }

    .example .button svg {
        fill: #FFF;
    }

    .bundle {
        background-image: url("/images/category/themes/standard/squiggle-bundle.svg");

        .tag {
            color: variables.$grey900;
            border: 1px solid variables.$grey900;
            background-color: transparent;
        }

        h3 {
            color: variables.$grey900;
        }

        .stack-card {
            background-color: variables.$yellow;
            color: variables.$grey900;

            &:nth-of-type(2) {
                background-color: variables.$grey600;
            }

            &:nth-of-type(1) {
                background-color: variables.$grey500;
            }
        }
    }

    .product {
        background-image: url("/images/category/themes/standard/squiggle-product.svg");

        .tag {
            color: variables.$grey900;
            border: 1px solid variables.$grey900;
            background-color: transparent;
        }

        h3 {
            color: variables.$grey900;
        }

        .stack-card {
            background-color: variables.$yellow;
            color: variables.$grey900;

            &:nth-of-type(2) {
                background-color: variables.$grey600;
            }

            &:nth-of-type(1) {
                background-color: variables.$grey500;
            }
        }
    }

    #pricing .popular:before {
        background-color: variables.$grey900;
    }
}

.pink {
    .banner {
        .view-products {
            background-color: variables.$pink;
            border: 2px solid variables.$pink;
            color: #FFF;

            &:hover{
                background-color: variables.$yellow;
                border: 2px solid variables.$yellow;
                color: #4A4A4A;

                svg {
                    fill: #4A4A4A;
                    transition: all .2s ease;
                }
            }
        }

        svg {
            fill: #FFF;
            transition: all .2s ease;
        }

        .phone svg path {
            fill: variables.$pink;
        }
    }

    .example {
        background-color: variables.$pink;
        color: #FFF;

        h2 {
            color: #FFF;
        }

        .button {
            background-color: #FFF;
            border: 2px solid #FFF;
            color: variables.$grey900 !important;

            &:hover{
                background-color: variables.$yellow;
                border: 2px solid variables.$yellow;
            }

            svg {
                fill: variables.$grey900;
            }

          
        }
    }

    .benefits {
        background-image: url("/images/category/themes/pink/squiggle-benefits.svg");

        .stack-card h3 {
            background-color: variables.$pink;
        }
    }

    .relationships .stack-description .tag {
        background-color: variables.$pink;
        color: #FFF;
    }

    .bundle {
        background-image: url("/images/category/themes/pink/squiggle-bundle.svg");

        .tag {
            color: variables.$yellow;
            border: 1px solid variables.$yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: variables.$pink;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: variables.$pink300;
            }

            &:nth-of-type(1) {
                background-color: variables.$pink200;
            }
        }
    }

    .product {
        background-image: url("/images/category/themes/pink/squiggle-product.svg");

        .tag {
            color: variables.$yellow;
            border: 1px solid variables.$yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: variables.$pink;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: variables.$pink300;
            }

            &:nth-of-type(1) {
                background-color: variables.$pink200;
            }
        }
    }

    #pricing .popular:before {
        background-color: variables.$pink;
    }
}

.blue {
    .banner {
        .phone svg path {
            fill: variables.$blue;
        }
    }

    .example {
        background-color: variables.$blue;
        color: #FFF;

        h2 {
            color: #FFF;
        }

        .button {
            svg {
                fill: #FFF;
            }
        }
    }

    .benefits {
        background-image: url("/images/category/themes/blue/squiggle-benefits.svg");
    }

    .relationships .stack-description .tag {
        background-color: variables.$blue;
        color: #FFF;
    }

    .bundle {
        background-image: url("/images/category/themes/blue/squiggle-bundle.svg");

        .tag {
            color: variables.$yellow;
            border: 1px solid variables.$yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: variables.$blue;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: variables.$blue300;
            }

            &:nth-of-type(1) {
                background-color: variables.$blue200;
            }
        }
    }

    .product {
        background-image: url("/images/category/themes/blue/squiggle-product.svg");

        .tag {
            color: variables.$yellow;
            border: 1px solid variables.$yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: variables.$blue;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: variables.$blue300;
            }

            &:nth-of-type(1) {
                background-color: variables.$blue200;
            }
        }
    }

    #pricing .popular:before {
        background-color: variables.$blue;
    }
}

.dark {
    .banner {
        .view-products {
            background-color: variables.$grey900;
            border: 2px solid variables.$grey900;
            color: #FFF;
        }

        svg {
            fill: #FFF;
        }

        .phone svg path {
            fill: variables.$grey900;
        }
    }

    .example {
        background-color: variables.$grey800;
        color: #FFF;

        h2 {
            color: #FFF;
        }

        .button {
            background-color: #FFF;
            border: 2px solid #FFF;
            color: variables.$grey900;

            svg {
                fill: variables.$grey900;
            }
        }
    }

    .benefits {
        background-image: url("/images/category/themes/dark/squiggle-benefits.svg");

        .stack-card h3 {
            background-color: variables.$grey900;
            color: #FFF;
        }
    }

    .relationships .stack-description .tag {
        background-color: variables.$grey900;
        color: #FFF;
    }

    .bundle {
        background-image: url("/images/category/themes/dark/squiggle-bundle.svg");

        .tag {
            color: variables.$yellow;
            border: 1px solid variables.$yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: variables.$grey900;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: variables.$grey600;
            }

            &:nth-of-type(1) {
                background-color: variables.$grey500;
            }
        }
    }

    .product {
        background-image: url("/images/category/themes/dark/squiggle-product.svg");

        .tag {
            color: variables.$yellow;
            border: 1px solid variables.$yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: variables.$grey900;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: variables.$grey600;
            }

            &:nth-of-type(1) {
                background-color: variables.$grey500;
            }
        }
    }

    #pricing .popular {
        background-color: variables.$grey900;
        color: #FFF;

        .price {
            color: #FFF;
        }

        &:before,
        .button {
            background-color: variables.$grey400;
            color: variables.$grey900;
        }

        .group {
            border: 1px solid variables.$grey600;
            color: variables.$grey600;
            background-color: transparent;
        }

        .cost-per-transaction {
            border-top: 1px solid variables.$grey400;
            border-bottom: 1px solid variables.$grey400;
        }
    }
}
