@import "../../variables";

.container {
    font-size: 16px;

    h1 {
        font-size: 18px;
        font-family: Montserrat;
        margin-top: 40px;
    }
}

.breadcrumb {
    position: absolute;
    display: flex;
    right: 8%;
    top: 0;

    a {
        margin-left: 20px;
        display: flex;
    }

    svg {
        width: 12px;
        margin-left: 4px;
    }
}

.banner {

    h2,
    p {
        width: 490px;
    }

    h2 {
        margin-top: 100px;
    }

    .squiggle {
        position: absolute;
        top: -90px;
        left: 633px;
        width: 667px;
    }

    .phone {
        position: absolute;
        left: 775px;
        top: -80px;
        width: 248px;
        height: 489px;
        overflow: hidden;
        border-radius: 16px;

        img,
        svg {
            top: 0;
            width: 100%;
            position: absolute;
        }
    }
}

.businesses {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h2 {
        width: 100%;
        text-align: center;
        font-size: 10px;
        color: $grey500;
    }
}

.overview {
    margin-bottom: 100px;

    h3 {
        font-size: 30px;
    }

    .benefits-copy {
        width: 405px;
        margin-bottom: 145px;
    }

    .stack-general.benefits {
        position: absolute;
        top: -50px;
        right: -20px;
    }

    hr {
        color: $grey300;
        margin: 40px 0;
    }

    .included {
        .col-4 {
            display: flex;
            align-items: center;
            font-size: 14px;

            >svg {
                margin-right: 8px;
                width: 11px;
                height: 11px;
                background-color: $yellow;
                padding: 4px;
                border-radius: 50%;
            }
        }

        a {
            color: $blue;
            display: flex;

            svg {
                fill: $blue;
                width: 16px;
                margin-left: 10px;
            }
        }
    }
}

.example {
    .snippets {
        background-color: #4A4A4A;
        border-radius: 5px;
        height: 154px;
        width: 1020px;
        position: absolute;
        top: -210px;
    }

    .tab {
        display: inline-block;
        padding: 20px;
        font-size: 14px;
        color: #FFF;
    }

    .active {
        background-color: $grey900;
    }

    .snippet {
        padding: 30px;
        position: absolute;
        bottom: 0;
        background-color: $grey900;
        width: 100%;
        border-radius: 0 0 5px 5px;

        pre {
            background-color: $grey900;
            padding: 0;
            margin: 0;
            font-size: 12px;
        }
    }

    .cols {
        position: absolute;
        right: 8%;
        top: 30px;

        a {
            height: 40px;
        }
    }
}

.pricing {
    margin: 60px auto 80px;
}

.relationships {
    margin-top: 80px;

    .stack-bundle,
    .stack-product {
        display: flex;
        align-items: center;

        .stack-description {
            .tag {
                color: $grey900;
            }

            h3 {
                font-size: 30px;
                margin: 20px 0;
            }

            a {
                color: $blue;
                display: flex;

                svg {
                    fill: $blue;
                    width: 14px;
                    margin-left: 10px;
                }
            }
        }

        .stack-cards {
            flex: 0 0 auto;
        }
    }
}

// Stack general
.stack-general {
    width: 630px;
    height: 394px;

    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;

    img {
        width: 410px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .stack-card {
        background-color: #FFF;
        border-radius: 5px;
        box-shadow: 0 12px 24px $grey500;
        width: 490px;
        height: 238px;
        padding: 40px;
        position: absolute;
        top: 50px;
        left: 0;

        &:nth-of-type(2) {
            transform: translate(0, 30px) scale(0.95);
        }

        &:nth-of-type(1) {
            transform: translate(0, 60px) scale(0.9);
        }
    }

    h3 {
        font-size: 14px;
        background-color: $yellow;
        border-radius: 15px;
        padding: 5px 20px;
        font-family: Montserrat;
        position: absolute;
        top: -15px;
        left: 30px;
        margin: 0;
    }

    h4 {
        margin: 0px 0px 10px;
        font-family: "Montserrat-Bold";
        font-size: 16px;
    }

    p {
        font-family: "Montserrat-Light";
        font-size: 14px;
    }

    a {
        font-size: 14px;
        font-family: Montserrat;
        color: $blue;
        display: flex;

        svg {
            fill: $blue;
            width: 14px;
            margin-left: 10px;
        }
    }
}

// Stack cards
.stack-cards {
    width: 700px;
    height: 570px;

    background-size: contain;
    background-repeat: no-repeat;
    perspective: 1000px;

    &.left {
        background-position: left bottom;
        margin-left: -140px;

        .stack-card {
            top: 0;
            margin-left: 140px;
            transform: translate(60px, 60px) rotateY(10deg);

            &:nth-of-type(2) {
                transform: translate(30px, 30px) scale(0.95) rotateY(10deg);
            }

            &:nth-of-type(1) {
                transform: translate(0, 0) scale(0.9) rotateY(10deg);
            }
        }
    }

    &.right {
        background-position: right top;
        margin-right: -140px;

        .stack-card {
            bottom: 50px;
            right: 140px;
            transform: translate(0, 0)  rotateY(-10deg);

            &:nth-of-type(2) {
                transform: translate(30px, -30px) scale(0.95)  rotateY(-10deg);
            }

            &:nth-of-type(1) {
                transform: translate(60px, -60px) scale(0.9)  rotateY(-10deg);
            }
        }
    }

    .stack-card {
        border-radius: 12px;
        width: 430px;
        height: 400px;
        padding: 40px;
        position: absolute;
    }

    h3 {
        font-size: 40px;
        font-family: "mtn-bold";
    }

    .flags {
        height: 42px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        svg {
            width: 14px;
            margin: 0 8px 0 0;
        }
    }

    .button {
        background-color: $grey300;
        border: 2px solid $grey300;
        margin-top: 10px;
        font-size: 14px;
    }
}


// Themes

.blue {
    .banner svg path {
        fill: $blue;
    }
}

.mixed {
    .banner svg path {
        fill: $grey800;
    }

    .benefits {
        background-image: url("../images/category/themes/mixed/squiggle-benefits.svg");
    }

    .bundle {
        background-image: url("../images/category/themes/mixed/squiggle-bundle.svg");

        .tag {
            color: $yellow;
            border: 1px solid $yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: $grey900;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: #A5A5A5;
            }

            &:nth-of-type(1) {
                background-color: #D2D2D2;
            }
        }
    }

    .product {
        background-image: url("../images/category/themes/mixed/squiggle-product.svg");

        .tag {
            color: $yellow;
            border: 1px solid $yellow;
            background-color: transparent;
        }

        h3 {
            color: #FFF;
        }

        .stack-card {
            background-color: $blue;
            color: #FFF;

            &:nth-of-type(2) {
                background-color: #9EC2D2;
            }

            &:nth-of-type(1) {
                background-color: #CEE1E8;
            }
        }
    }
}
