@use "../../variables";

h2,
h3 {
    font-family: "mtn-regular", sans-serif;
}

.search-hr {
    color: variables.$grey300;
}


.layout-sidebar{
    width: 100%;
    background-color: #F8F8F8;

    .wrapper{
        margin: 30px auto;
    
        &.container{
            width: 90%;
        }

        #sidebar {
            background-color: #FFFFFF !important;
            border-radius: 10px;
            padding-top: 0px !important;
            
            @media #{variables.$small} {
                display: none;
            }
        
            @media #{variables.$medium} {
                display: none;
            }
        }
    }
}

#banner {
    height: 140px;
    width: 100%;
    background: url('/images/banners/products-bg.png') no-repeat center center / cover;
    flex: 1 0 auto;

    @media #{variables.$small} {
        display: none;
    }

    @media #{variables.$medium} {
        display: none;
    }

    .banner-content{
        width: 90%;
        margin: 25px auto;
    }

    p{
        font-size: 16px;
    }
}

#main {
    margin-bottom: 40px;
    padding: 0px !important;

    .header-block {
        background-color: #000;
        border-radius: 5px;
        box-shadow: 0px 2px 4px #00000029;
        height: 244px;
        padding: 40px;
        margin: -90px 0 0 40px;
        width: calc(100% - 80px);

        @media #{variables.$small} {
            height: auto;
            margin: 0;
            width: 100%;
            background-color: variables.$white;
            color: variables.$black;
            box-shadow: none;
            border: transparent;
            padding: 0;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }

        @media #{variables.$medium} {
            height: auto;
            margin: 0;
            width: 100%;
            background-color: variables.$white;
            color: variables.$black;
            box-shadow: none;
            border: transparent;
            padding: 0;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }

        @media screen and (min-width: 811px) and (max-width: 1099px) {
            margin: -90px 0 0 -80px;
            width: auto;
        }

        h1 {
            color: #FFF;
            font-size: 40px;
            margin: 0;

            @media #{variables.$small} {
                color: variables.$black;
            }

            @media #{variables.$medium} {
                color: variables.$black;
            }

            .available-products-count{
                font-size: 24px;
                font-family: variables.$MTN-Regular;

                @media #{variables.$small} {
                    display: block;
                    margin-top: 15px;
                }
    
                @media #{variables.$medium} {
                    display: block;
                    margin-top: 15px;
                }
            }
        }

        p {
            font-size: 18px;
            color: #FFF;
            padding-right: 250px;

            @media #{variables.$small} {
                padding-right: 0;
                color: variables.$black;
            }

            @media #{variables.$medium} {
                padding-right: 0;
                color: variables.$black;
            }
        }

        svg {
            position: absolute;
            right: 30px;
            bottom: 20px;

            @media #{variables.$small} {
                display: none;
            }

            @media #{variables.$medium} {
                display: none;
            }
        }
    }

    .content {
        padding-left: 40px;
        margin-top: 0px;
        height: 100%;

        .filter-text{
            width: 100%;
            height: 40px;
            display: block;
            border: solid 1px #000000;
            margin-bottom: 30px;
        }

        .products-count{
            color: #969696;
            font-size: 14px;
            margin-bottom: 20px;
            display: none;
            height: 0px;

            &.hide{
                display: none;
            }
        }

        @media #{variables.$small} {
            padding: 0;
            margin: 0;
        }

        @media #{variables.$medium} {
            padding: 0;
            margin: 0;
        }

        .category-title:first-of-type {
            margin-top: 0;

            span{
                font-size: 13px;
                color: #969696;
                font-family: variables.$MTN-Regular;
            }

            .filters-count{
                display: none;

                &.show{
                    display: block;
                    margin-left: 10px;
                }
            }

            .header-count{
                margin-left: 10px;
                border-radius: 8px;
                background-color: #E6E6E6;
                color: #000000;
                padding: 5px 6px;
                border-radius: 5px;
            }
        }

        .products {
            display: flex;
            flex-flow: row wrap;

            .category {
                display: flex;
                flex-flow: row wrap;
                margin-bottom: 0px;
                width: 100%;

                @media screen and (min-width: 768px) and (max-width: 1099px) {
                    justify-content: space-between;
                }

                h3 {
                    width: 100%;
                    margin-bottom: 25px;
                }

                .card {
                    flex: 0 1 31%;
                    margin-bottom: 30px;
                    margin-right: 15px;

                    .card__header {
                        margin-bottom: 10px;
                    }

                    .tag {
                        display: inline-block;
                        padding: 0px;
                        color: #000000;
                        font-size: 16px;
                        background-color: #FFFFFF;
                    }

                    @media screen and (min-width: 768px) {
                        padding: 32;
                    }

                    @media screen and (min-width: 768px) and (max-width: 1099px) {
                        width: calc(50% - 10px);
                        margin-right: 0;
                        flex: 0 1 auto;
                    }

                    @media screen and (max-width: 767px) {
                        flex: 1 auto;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

#footer {
    @media #{variables.$small} {
        margin-top: 5rem;
    }
}

.filter-sidebar {
    h3 {
        font-size: 12px;
    }

    .filter-checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .filter-label {
            margin-left: 5px;
            color: #000000;
            font-size: 14px;
        }
    }

    .country-filter {
        margin-top: 15px;
        width: 100%;

        .multiselect-select {
            width: 180px;
        }
    }

    #filter-clear {
        margin-top: 30px;
    }
}
