@use "sass:color";
@use "../../variables";

.layout-master>main#main {
    margin-bottom: 60px;

    .content{
        margin-top: -30px;
        z-index: 2;
    }

    .breadcrumb::before{
        color: variables.$blue;
    }

    #heading .breadcrumb{
        a{
            color: variables.$blue;
        }
    }

    elements-api div {
        position: initial;
    }

    @media screen and (max-width: 768px) {
        padding-top: 3rem !important;
    }

    #heading {
        margin-bottom: 20px;
        background-color: #FFFFFF;

        h4 {
            font-size: 10px;
            color: variables.$grey600;
            font-family: "mtn-bold";
            margin: 0 0 0 6px;
        }

        .flags {
            text-align: right;

            @media #{variables.$small} {
                text-align: initial;
            }

            @media #{variables.$medium} {
                text-align: initial;
            }
        }

        .flag {
            width: 15px;
            height: 15px;
            margin-left: 6px;
        }

        h1 {
            word-break: break-word;
            width: 100%;
        }

        .right-side {
            @media screen and (min-width: 768px) {
                top: 14px;
                height: auto;
            }

            @media screen and (max-width: 768px) {
                position: initial;
                display: flex;
                padding-top: 2rem;
                height: 100%;
                width: 100%;
            }
        }

        @media screen and (max-width: 768px) {
            background-color: transparent;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    #product-specification .no-specification {
        background: url('/images/no-specification-bg.png') no-repeat center / cover;
        color: #FFF;
        border-radius: 20px;
        display: inline-block;
        padding: 30px;

        @media #{variables.$small} {
            width: 100%;
        }

        @media #{variables.$medium-up} {
            width: 400px;
        }

        p {
            margin-top: 0;
            font-size: 12px;
            font-family: "mtn-bold";
            display: block;
        }

        h2 {
            color: #FFF;
            font-size: 32px;
            margin-top: 0;
            display: block;
        }

        a {
            color: #FFF;

            @media #{variables.$small} {
                display: flex;
                padding-left: 0;
                padding-right: 0;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                color: variables.$grey900;
            }
        }
    }

    .alternatives {

        .alternative-cards {
            display: flex;

            @media #{variables.$small} {
                flex-direction: column;
            }
        }

        h3 {
            font-family: 'mtn-regular';
            margin-top: 40px;
        }

        .card {
            @media #{variables.$small} {
                flex: 0 0 100%;
                margin-bottom: 40px;
            }

            @media #{variables.$medium-up} {
                flex: 0 0 33%;
            }
        }

        @media #{variables.$medium-up} {
            .card:nth-child(2) {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}

#elements-api-desktop {
    @media screen and (min-width: 768px) {
        position: initial;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

#elements-api-mobile {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

#button-specification{
    background-color: transparent !important;
    color: #000000;
    font-size: 17px;
    padding: 0px;
}

.endpoint-available{
    margin-top: -19px;
}

#product-sections {
    // Products top block
    .product-top-block{
        width: calc(100% + 80px);
        box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04);
        display: flex;
        margin-left: -40px;
        padding: 0px 40px;

        @media(max-width: 768px){
            flex-direction: column;
        }

        .each-product-block{
            width: 50%;
            height: 100%;
            padding-bottom: 20px;

            @media(max-width: 768px){
                width: 100%;
            }

            &:nth-child(1){
                margin-right: 10px;
            }
        }

        .flags{
            display: flex;
            flex-wrap: wrap;

            .each-country{
                display: flex;
                align-items: center;
                width: 23%;
                border-radius: 2px;
                background: #FFF;
                box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.04);
                margin-bottom: 10px;
                margin-right: 8px;

                img{
                    width: 36px;
                    height: 24px;
                    margin-right: 10px;
                    border-radius: 2px;
                    border: 1px solid #E4E4E4;
                }

                .country-name{
                    font-size: 12px;
                }

                @media(max-width: 768px){
                    width: 48%;

                    .country-name{
                        font-size: 14px;
                    }
                }
            }
        }

        .each-call-to-action{
            border-radius: 8px;
            border: 1px solid #E6E6E6;
            width: 100%;
            margin-bottom: 16px;
            padding: 16px 32px;
            display: flex;
            justify-content: space-between;
            transition: all .3s ease-in-out;

            .left-data{
                width: calc(100% - 230px);
            }

            @media(max-width: 768px){
                flex-direction: column;

                .left-data{
                    width: 100%;
                }
            }

            .block-header{
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                margin-top: 11px;
                margin-bottom: -11px;
            }

            p{
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 5px;
            }

            .action-btn-product{
                width: 214px;
                height: 45px;
                margin-top: 10px;

                @media(max-width: 768px){
                    width: 100%;
                }
            }
        }
    }

    .product-section-button {
        @media screen and (min-width: 768px) {
            display: inline-block;
            margin: 30px 6px 0px 0;
            background-color: #FFF;
            border: none;
            font-size: 17px;
            padding: 0px;

            &:hover{
                background-color: #FFF;
            }
        }

        @media screen and (max-width: 768px) {
            height: 30px;
            margin-bottom: 10px;
            border: none;
            margin-top: 40px;
        }
    }

    .product-section {
        display: none;
        word-break: break-word;

        h2:first-of-type {
            @media #{variables.$small} {
                display: none;
            }

            @media #{variables.$medium} {
                display: none;
            }
        }

        a {
            &:first-of-type {
                @media #{variables.$small} {
                    display: none;
                }

                @media #{variables.$medium} {
                    display: none;
                }
            }

            &:nth-of-type(2) {
                @media #{variables.$small} {
                    display: none;
                }

                @media #{variables.$medium} {
                    display: none;
                }
            }
        }

    }

    &.product-docs #product-docs,
    &.product-overview #product-overview,
    &.product-specification #product-specification {
        display: block;
        margin-top: 30px;

        @media(max-width: 768px){
            margin-top: -16px;
        }
    }

    .key-features {
        display: flex;
        justify-content: center;
        margin-top: variables.$gutter;
    }

    .key-feature {
        margin: 0 variables.$gutter;
        max-width: 150px;
    }

    .specification-description {
        width: 100%;

        @media screen and (min-width: 768px) {
            margin: 6px 0 0 38px;
        }

        @media screen and (max-width: 768px) {
            margin: 6px 0 0 0;
        }
    }

    .specification-detail {
        padding: variables.$gutterSmall;
        border: 1px solid variables.$grey300;
        border-radius: 8px;
        margin-bottom: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

        @media #{variables.$small} {
            flex-direction: column;
        }

        &.open {
            .endpoint svg {
                transform: rotate(90deg);
            }

            .specification-options,
            .specification-responses {
                display: block;
            }
        }
    }

    .endpoint {
        display: flex;
        flex: 1 0 100%;
        flex-wrap: wrap;
        font-family: "Montserrat-Light";
        cursor: pointer;
        z-index: 2;

        svg {
            margin-right: 16px;
            transition: transform 0.356s;
        }

        .tag {
            margin-right: 14px;
            font-weight: normal;
        }
    }

    .get {
        background-color: variables.$blue;
    }

    .post {
        background-color: variables.$green;
    }

    .put,
    .patch {
        background-color: variables.$yellow;
    }

    .delete {
        background-color: variables.$red;
    }

    h4 {
        font-family: "mtn-bold";
        margin: 20px 0 10px;
        position: relative;
    }

    h4:first-child {
        margin: 0 0 10px;
    }

    .collapseable {
        cursor: pointer;
        padding-left: 28px;

        svg {
            position: absolute;
            left: 0;
            top: -2px;
            transition: transform 0.356s;
            width: 22px;
        }

        &+.parameters {
            display: none;
        }

        &.open {
            &+.parameters {
                display: block;
            }

            svg {
                transform: rotate(90deg);
            }
        }
    }

    .parameter {
        height: 40px;
        overflow: hidden;
        font-size: 12px;
        font-family: "mtn-Light";
        padding-left: 22px;

        &.open {
            height: auto;

            svg {
                transform: rotate(90deg);
            }
        }

        h5 {
            font-family: "mtn-regular";
            margin-bottom: 5px;
            cursor: pointer;

            svg {
                width: 20px;
                position: absolute;
                left: 0;
                transition: transform 0.356s;
                margin-top: -2px;
            }

            .tag {
                font-family: "mtn-Light";
                font-size: 10px;
            }
        }
    }

    .specification-request {
        pre {
            tab-size: 16px;
            white-space: pre-wrap;
        }
    }

    .specification-options {
        display: none;
        flex: 0 1 40%;
        margin-top: 50px;

        @media screen and (min-width: 768px) {
            margin-right: 40px;
        }
    }

    .specification-responses {
        display: none;
        flex: 1 1 55%;
        overflow: hidden;
        background-color: variables.$grey400;
        border-radius: 8px;
        padding: 10px;
        margin-top: 50px;
    }

    .specification-response {
        &>h6 {
            background-color: variables.$yellow;
            padding: 10px;
            border-radius: 5px;
            margin: 0 0 5px;
            font-size: 10px;
            font-family: variables.$MTN-Regular;
            cursor: pointer;
        }

        &.last>h6 {
            margin: 0;
        }

        svg {
            top: 8px;
            position: absolute;
            right: 10px;
            width: 18px;
        }

        .response-details {
            display: none;

            &.show-model {
                .detail-example {
                    display: none;
                }
            }

            &.show-example {
                .detail-model {
                    display: none;
                }

                .model {
                    background-color: transparent;
                    color: variables.$grey700;
                }
            }

            button {
                margin: variables.$gutterSmall 5px 10px 0;
            }
        }

        &.open {
            &>.response-details {
                display: block;
            }

            &>h6 svg+svg {
                display: none;
            }
        }

        .detail-model {
            font-size: 1rem;

            h6,
            .tag {
                font-size: 1rem;
            }

            h6 {
                margin-top: 10px;
                padding-top: 10px;
                margin-bottom: 0;
                position: relative;

                &.has-children {
                    border-top: 2px solid variables.$grey500;
                }
            }

            .has-children {
                font-size: 1.4rem;
                font-family: "Montserrat-Bold";
                cursor: pointer;
            }

            .schema {
                display: none;
                padding-left: 10px;

                &.open>h6 svg+svg {
                    display: none;
                }
            }

            &>.schema {
                padding-left: 0;
            }

            &>.schema:first-child h6 {
                border: none;
                padding-top: 0;
            }

            &>.schema,
            .schema.open>.schema {
                display: block;
            }

            svg {
                top: 0;
            }
        }
    }
}
