@import "../../variables";

#heading {
    h4 {
       font-size: 10px;
       color: $grey600;
       font-family: "mtn-bold"; 
       margin: 0 0 0 6px;
    }

    .flags {
        text-align: right;
    }

    .flag {
        width: 15px;
        height: 15px;
        margin-left: 6px;
    }
}

.product-section-button {
    display: inline-block;
    margin: $gutter 6px $gutter 0;
}

#product-sections {
    &.overview #product-docs,
    &.overview #product-specification {
        display: none;
    }

    &.docs #product-overview,
    &.docs #product-specification {
        display: none;
    }

    &.specification #product-overview,
    &.specification #product-docs {
        display: none;
    }

    .key-features{
        display: flex;
        justify-content: center;
        margin-top: $gutter;
    }

    .key-feature {
        margin: 0 $gutter;
        max-width: 150px;
    }
}