@use "../../../variables";

#teams-table-data{
    position: relative;
    width: 100%;

    .header{
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 15px;

        div{
            font-size: 14px;
            font-weight: 700;
        }
    }

    .value-team-name,
    .column-team-name{
        width: 28%;
    }

    .value-team-country,
    .column-team-country{
        width: 10%;
    }

    .value-team-owner,
    .column-team-owner{
        width: 22%;
    }

    .value-team-apps,
    .value-team-members,
    .column-team-apps,
    .column-team-members{
        width: 10%;
    }

    .value-team-created_at,
    .column-created_at{
        width: 15%;
    }

    .value-team-actions,
    .column-actions{
        width: 15%;
    }

    .body-container{
        position: relative;
        width: 100%;

        .each-team{
            width: 100%;
            background-color: #ffffff;
            margin-bottom: 10px;
            padding: 15px  15px 15px 20px;
            box-sizing: border-box;
            border-radius: 8px;
            display: flex;
            font-size: 14px;
            align-items: center;

            .value-team-apps,
            .value-team-members{
                padding-left: 10px;
            }

            .value-team-actions{
                display: flex;
              
                .actions-btn{
                    background-color: transparent;
                    border: none;
                    color: #0c678f;
                    height: 25px;
                    display: flex;
                    width: 70px;
                    position: relative;
                    align-items: center;
                    cursor: pointer;

                    svg{
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
            }

            .value-team-country{
                img{
                    width: 24px;
                }
            }
        }
    }
}
