@use '../../../variables';

$color-white: variables.$white;

.customAttributeMain {

    margin-bottom: 15px;
    padding: 0px;

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
        box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.1);
    }

    &__text {
        padding: 14px 14px;
        color: variables.$black;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.btn-show-attribute-modal {
    background-color: variables.$yellow;
    color: variables.$black;
    border: none;
    border-radius: 64px;
    padding: 8px 67px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    width: 20%;
}

.custom-attribute-body-section {
    //display: flex;
    padding: 21px 0px 23px 12px;
    align-items: flex-start;
    gap: 37px;
    background-color: transparent;
}

.btn-show-attribute-modal:hover {
    background-color: variables.$yellow;
}

.btn-show-attribute-modal:active {
    background-color: variables.$yellowDark;
}

.btn-show-attribute-modal:focus {
    outline: none;
    box-shadow: 0px 0px 4px #ffd429;
}

.custom-atrribute--table {
    width: 100%;
}

.custom-atrribute--table_th {
    align-items: flex-start;
    font-weight: bold;
    font-size: medium;
}

.main-ca {
    //padding-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background-color: white;
    margin-bottom: -23px;
    //box-shadow: 0px 21px 9px -13px rgba(0, 2, 0, 0.1);
}

.ca-section {
    width: 100%;
}

.main-ca__heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#table-data thead th {
    padding-left: 16px !important;
    border-collapse: separate !important;
}

.ca-tbody {
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 0;
}

.app-custom-attributes {
    margin-top: 22px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.ca-trow {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-container {
    padding: 2px 32px;
    width: 100%;

}

.form-container h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    resize: none; /* Optional: Prevent resizing */
}

.form-group p {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 63px;
    border-radius: 0px 0px 10px 10px;
    background: #F0F0F0;
}

.btn-attribute, {
    display: flex;
    height: 93px;
    padding: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 45%;
}

.btn-confirm {
    background-color: variables.$yellow;
    color: variables.$white;
}

.btn-cancel .btn-attribute {
    background-color: rgba(229, 229, 229, 0);
    color: #333;
}

.btn:hover {
    opacity: 0.8;
}

.tag-container {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: black;
    color: white !important;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.close-button {
    margin-left: 5px;
    cursor: pointer;
    color: white !important;
    font-weight: bold;
}

.btn-attribute {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-confirm {
    background-color: variables.$yellow; /* Regular active state (green) */
    color: white;
}

.btn-confirm:disabled {
    background-color: #cbc7c7; /* Disabled state */
    cursor: not-allowed;
    color: white;
}

.error-message {
    color: red;
    font-size: 12px;
}

.custom-attributes-dialog {

    .dialog-content {
        height: 488px;

        @media screen and (min-width: 768px) {
            height: 488px !important;
        }
    }

    .data-container {
        padding: 20px 25px;
    }

    .status-dialog-form {
        position: relative;
        width: 100%;
        height: 428px;

        .attribute-form-container-data {
            overflow-x: auto;
            height: 334px;
            padding: 20px 25px;
        }
    }
}

.btn-confirm {
    background-color: variables.$yellow;
    color: variables.$white;

    &.disabled {
        background-color: #E6E6E6;
        cursor: none;
        pointer-events: none;
        border: solid 2px #E6E6E6;
        color: #969696;
    }
}

.reserved-form-container {
    padding: 0 26px;
}

.reserve-content-inner {
    padding-top: 21px;
    box-sizing: border-box;
    //display: flex;
    justify-content: center;
}

.reserve-button-container {
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    min-height: 93px;
    width: 100%;
    margin-top: 95px;
    padding: 24px 10px;
}

.app-attribute-table {
    border-spacing: 0px 8px !important;
    background-color: white;
    border-radius: 10px;
}

.no-custom-attribute {
    //display: flex;
    padding: 9px 14px;
    /* align-items: flex-start; */
    align-self: stretch;
    background-color: white;
    /* border-spacing: 171px 122px; */
    margin-top: -11px;
    margin-bottom: 9px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04);
}

.delete-attribute-bottom-shadow-container {
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    min-height: 93px;
    width: 100%;
    bottom: 0;
}

.btn-show-reserved-attribute-modal:disabled {
    pointer-events: none; /* Prevent interactions */
    background-color: #ccc; /* Change background color */
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
    /* Remove hover styles */
}

.btn-show-reserved-attribute-modal:disabled:hover {
    background-color: #ccc; /* Keep the same background color on hover */
    box-shadow: none; /* Remove any hover shadow */
}

.ca-thead {
    height: 46px;
}

.ca-align-left {
    background-color: #F0F0F0;
}

.table-responsive {
    overflow-x: auto;
}

.app-attribute-table {
    width: 100%;
    border-collapse: collapse;
}

.app-attribute-table th,
.app-attribute-table td {
    padding: 10px;
    text-align: left;
    //border-bottom: 1px solid #ddd;
}

/* Hide columns on mobile screens */
.not-on-mobile {
    display: table-cell;
}

@media (max-width: 768px) {
    .not-on-mobile {
        display: none;
    }

    .app-attribute-table,
    .app-attribute-table thead,
    .app-attribute-table tbody,
    .app-attribute-table th,
    .app-attribute-table td,
    .app-attribute-table tr {
        display: block;
        width: 100%; /* Full width */
    }

    .app-attribute-table tr {
        margin-bottom: 15px;
    }

    .app-attribute-table td {
        text-align: right;
        position: relative;
        padding-left: 50%;
    }

    .app-attribute-table td:before {
        content: attr(data-name);
        position: absolute;
        left: 10px;
        width: calc(50% - 10px);
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
    }
}
