@use '../../../variables';

.app {
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 8px;
}

.head {
    @media screen and (min-width: 1100px) {
        display: flex;
        padding: 0 24px;
    }

    @media screen and (max-width: 1099px) {
        display: none;
    }
}

.body,
.head {
    @media screen and (max-width: 1099px) {
        margin-top: 15px;
    }

    .columns {
        padding: 16px 24px;
        display: flex;
        border-radius: 8px;
    }

    & .show .columns {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    }

    .column {
        display: flex;
        align-items: center;
        min-width: 0;

        p {
            margin: 0;
            line-height: 1;
        }
    }

    .column-country svg {
        width: 24px;
    }

    .toggle-app-button {
        margin-left: auto;
    }

    .column-country {
        @media screen and (min-width: 1100px) {
            flex: 0 0 56px;
            justify-content: center;
            margin-right: 20px;
        }

        @media screen and (max-width: 1099px) {
            display: none;
        }
    }

    .column-developer-company {
        @media screen and (min-width: 1100px) {
            flex: 0 0 200px;
            margin-right: 16px;
        }

        @media screen and (max-width: 1099px) {
            display: none;
        }
    }

    .column-go-live {
        @media screen and (min-width: 1100px) {
            flex: 0 0 10%;
        }

        @media screen and (max-width: 1099px) {
            display: none;
        }
    }

    .column-status {
        @media screen and (min-width: 1100px) {
            flex: 0 0 20%;

            .app-status {
                &::before {
                    content: attr(aria-label);
                }
            }
        }

        @media screen and (max-width: 1099px) {
            .app-status {
                &::before {
                    content: attr(data-pending);
                }
            }
        }
    }

    .app-status-approved {
        .app-status {
            color: variables.$green;
            border: 1px solid variables.$green;

            @media screen and (max-width: 1099px) {
                &::before {
                    background: url("/images/icons/done.svg") no-repeat center center / 16px;
                    width: 12px;
                    display: inline-block;
                    color: transparent;
                    filter: invert(56%) sepia(94%) saturate(2964%) hue-rotate(104deg) brightness(92%) contrast(80%);
                }
            }
        }
    }

    .app-status-pending {
        .app-status {
            color: variables.$orange;
            border: 1px solid variables.$orange;
        }
    }

    .app-status-revoked {
        .app-status {
            color: variables.$red;
            border: 1px solid variables.$red;

            @media screen and (max-width: 1099px) {
                &::before {
                    background: url("/images/icons/close.svg") no-repeat center center / 16px;
                    width: 12px;
                    display: inline-block;
                    color: transparent;
                    filter: invert(16%) sepia(62%) saturate(4069%) hue-rotate(327deg) brightness(95%) contrast(91%);
                }
            }
        }
    }
}

.app-status {
    box-sizing: border-box;
    border-radius: 64px;
    padding: 4px 12px;

    @media screen and (max-width: 1099px) {
        margin-right: 8px;
    }
}

.toggle-app {
    cursor: pointer;
}

.column-app-name {
    flex: 0 1 100%;
    margin-right: 16px;
}

.elipsise {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail {
    display: none;

    .show>& {
        display: block;
    }

    h2 {
        font-size: 18px;
        font-family: variables.$MTN-Bold;
        line-height: 1;
        margin: 16px 24px;
    }

    h3 {
        font-size: 15px;
        font-family: variables.$MTN-Bold;
        margin-top: 0;
        line-height: 1;
    }
}

.environments {
    margin-bottom: 8px;
    margin: 0 24px;

    .reset {
        font-size: 14px;
        font-family: variables.$MTN-Regular;
        font-weight: normal;
        color: variables.$grey850;
        padding-bottom: 4px;
        margin-right: 12px;
    }
}

.app-products {
    display: none;
    margin: 0 24px;
}

.active-production {
    .environment-production {
        color: variables.$orange;
        border-bottom: 2px solid variables.$orange;
    }

    .production-products {
        display: block;
    }
}

.active-sandbox {
    .environment-sandbox {
        color: variables.$orange;
        border-bottom: 2px solid variables.$orange;
    }

    .sandbox-products {
        display: block;
    }
}

.product {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1100px) {
        margin: 32px 0;
        padding-left: 96px;
    }

    @media screen and (max-width: 1099px) {
        margin: 24px 0;
        margin-left: 0;
    }

    button {
        color: variables.$blue;
        display: flex;
        align-items: center;

        svg {
            fill: variables.$blue;
        }
    }

    &.product-status-approved .product-approve,
    &.product-status-revoked .product-revoke {
        color: variables.$grey400;
        pointer-events: none;

        svg,
        path {
            fill: variables.$grey400;
        }
    }

    .status {
        position: absolute;
        left: 0;
        padding: 4px 8px;
        border-radius: 35px;
        color: #FFF;
        background-color: variables.$grey400;

        &:before {
            content: '...';
        }
    }

    &.product-status-pending .status {
        background-color: variables.$orange;

        &:before {
            content: 'Pending';
        }
    }

    &.product-status-approved .status {
        background-color: variables.$green;

        &:before {
            content: 'Approved';
        }
    }

    &.product-status-revoked .status {
        background-color: variables.$red;

        &:before {
            content: 'Revoked';
        }
    }

    .name {
        margin-right: auto;
        color: variables.$blue;

        @media screen and (max-width: 1099px) {
            margin-left: 90px;
        }
    }

    .product-status-action {
        @media screen and (min-width: 1100px) {
            padding: 0 32px;

            &::after {
                content: attr(aria-label);
            }
        }

        @media screen and (max-width: 1099px) {
            margin-right: 8px;
        }

        &[disabled] {
            background: none;

            &::after {
                color: variables.$grey400;
            }

            path {
                fill: variables.$grey400;
            }
        }

        svg {
            margin-right: 8px;
            height: 18px;
        }
    }

    .product-action {
        @media screen and (min-width: 1100px) {
            display: none;
        }

        @media screen and (max-width: 1099px) {
            svg+svg {
                display: none;
            }
        }
    }
}

.renew-credentials {

    @media screen and (min-width: 1100px) {
        position: absolute;
        right: 0;
        margin-top: -52px;
    }

    @media screen and (max-width: 1099px) {
        margin-top: 24px;
    }

    .renew {
        display: flex;
        align-items: center;
        color: variables.$blue;

        svg {
            fill: variables.$blue;
            margin-right: 4px;
        }
    }
}

.main-details-items{
    background-color: variables.$grey200;
    padding: 0 24px 24px;
    border-radius: 0 0 8px 8px;

    .detail-items {
        display: flex;
        flex-wrap: wrap;

    }
}


.detail-left,
.detail-right {
    margin-top: 32px;
    flex-grow: 1;
    flex-shrink: 0;

    @media screen and (min-width: 1100px) {
        flex-basis: calc(50% - 32px);
    }

    @media screen and (max-width: 1099px) {
        flex-basis: 100%;
    }

    p {
        margin: 4px 0;
        word-break: break-word;
    }

    a {
        color: variables.$blue;
        word-break: break-word;
    }
}

.detail-left {
    @media screen and (min-width: 1100px) {
        margin-right: 32px;
    }

    @media screen and (max-width: 1099px) {
        order: 2;
    }
}

.detail-right {
    @media screen and (max-width: 1099px) {
        order: 1;
    }
}

.custom-attribute-data{
    .custom-attribute-data-heading{
        line-height: 7px;
        margin-bottom: 12px;
        font-size: 15px;
    }

    .attribute-display{
        position: relative;
        word-break: break-all;

        .attr-name{
            font-size: 14px;
            color: #000;
        }

        .attr-value{
            color: #787878;
            font-size: 14px;
        }
    }
}

.detail-actions {
    display: flex;

    @media screen and (min-width: 1100px) {
        margin-top: 16px;
    }

    @media screen and (max-width: 1099px) {
        margin-top: 24px;
    }

    @media screen and (min-width: 1100px) {
        align-items: center;
    }

    @media screen and (max-width: 1099px) {
        flex-direction: column;
    }

    button {
        display: flex;
        color: variables.$blue;
        align-items: center;
        margin-right: 20px;

        @media screen and (max-width: 1099px) {
            margin-bottom: 24px;
        }

        svg {
            fill: variables.$blue;
            margin-right: 8px;
            height: 18px;
        }
    }
}

.detail-text {
    color: #787878;
}

.dialog-content {
    h3,
    h3 em {
        word-break: break-word;
    }
}

#status-dialog {
    .status-dialog-textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid variables.$grey400;
        padding: 8px;
        appearance: none;
        outline: none;
        box-shadow: none;
        resize: vertical;
    }

    .status-dialog-button {
        margin-top: 20px;
    }
}

// Custom attribute dialog
.mdp-dialog{
    &.custom-attributes-dialog{

        .dialog-close{
            z-index: 2;
            font-size: 40px;
            width: 46px;
            top: 8px;
            right: 17px;
            font-family: variables.$MTN-Regular;
            cursor: pointer;

            svg{
                width: 40px;
                flex-shrink: 0;
            }
        }

        .dialog-content{
            background: #F0F0F0;
            width: 629px;
            height: 399px;
            padding: 0px;

            @media screen and (min-width: 768px){
                width: 629px;
                height: 399px;
            }

            @media screen and (max-width: 768px){
                width: 97%;
            }

            @media screen and (max-width: 500px){
                height: 98vh;
                position: absolute;
                top: 10px;
            }
        }

        .content-container{
            position: relative;
            height: 100%;

            .dialog-heading{
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                color: #000;
                position: relative;
                background-color: #fff;
                width: 100%;
                min-height: 56px;
                border-radius: 17px;
                z-index: 0;
                margin-top: 1px;
                box-sizing: border-box;
                padding: 15px 20px;
                margin-bottom: 0;
                padding-right: 60px;
                font-family: variables.$MTN-Regular;
            }
        }

        .no-attribute{
            display: block;
            padding-top: 10px;
        }

        .each-attribute-block+.no-attribute{
            display: none;
        }

        .attributes-heading{
            padding-top: 7px;
            position: relative;
            margin-left: 19px;
            padding-bottom: 4px;
            display: none;

            &.show{
                display: flex;
            }

            h4{
                font-size: 14px;
                line-height: 6px;
                margin-bottom: 10px;
                color: #1D1D1D;
            }

            .name-heading{
                width: 35%;
                line-height: 14px;
            }
        }

        // Custom attributes list
        .custom-attributes-list{
            width: 98%;
            height: 205px;
            padding: 0px 16px 20px 15px;
            position: relative;
            overflow-y: scroll;

            &.active{
                .no-attribute{
                    display: none;
                }
            }

            @media(max-width: 550px){
                height: 245px;
            }

            .attribute-remove-btn{
                @media(max-width: 768px){
                    padding: 0;
                }
            }
        }

        .custom-attributes-form{
            width: 100%;
            display: flex;
            box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.1);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            height: 95px;
            position: absolute;
            bottom: 15px;
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
            background: #F0F0F0;

            @media(max-width:550px){
                flex-direction: column;
                height: 190px;
                bottom: 25px;
            }

            .each-field{
                display: flex;
                flex-direction: column;
                width: 216px;
                margin-right: 15px;


                &:nth-child(1){
                    width: 35%;
                    @media(max-width: 768px){
                        width: 35%;
                    }

                    @media(max-width: 550px){
                        width: 100%;
                    }
                }

                @media(max-width: 768px){
                    width: 40%;
                }

                @media(max-width: 550px){
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 13px;
                    margin-right: 0px;
                }

                label{
                    font-size: 16px;
                    margin-bottom: 8px;

                    @media(max-width: 550px){
                        margin-bottom: 4px;
                    }
                }

                .attribute-field{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    font-size: 15px;
                    font-family: variables.$MTN-Regular;
                    border-bottom: 1px solid #969696;
                    color: #464646;
                }
            }

            .button{
                width: 130px;
                height: 40px;
                position: absolute;
                right: 12px;
                bottom: 18px;
                outline: none;

                @media(max-width: 550px){
                    position: relative;
                    display: block;
                    width: 100%;
                    right: revert;
                    top: revert;
                    margin-top: 11px;
                    bottom: revert;
                }
            }
        }

        .attribute-error{
            color: #bb1e4f;
            font-size: 13px;
            text-align: left;
            width: 60%;
            opacity: 0;
            position: absolute;
            bottom: -4px;

            @media(max-width: 768px){
                bottom: -17px;
                width: 100%;
            }

            &.show{
                opacity: 1;
            }
        }
    }
}

.kyc-status-select {
    background-image: url("/images/icons/chevron-down.svg"), url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="0" y2="50" stroke="%23e9e9ed" /></svg>');
    background-repeat: no-repeat, no-repeat;
    background-size: 24px, 1px;
    background-position: calc(100% - 8px) center, calc(100% - 40px) top;
    background-color: #FFF;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 8px;
}

@media screen and (max-width: 1099px) {
    .product {
        .product-status-action {
            display: none;
        }

        .product-status-action {
            display: none;
        }

        .log-notes {
            display: none;
            margin-right: 8px;
            margin-left: auto;
        }

        &.show-actions {
            .name {
                display: none;
            }

            .status {
                display: none;
            }

            .product-status-action {
                display: flex;
            }

            .product-status-action {
                display: flex;
            }

            .log-notes {
                display: flex;
            }

            .product-action {
                svg {
                    display: none;
                }

                svg+svg {
                    display: initial;
                }
            }
        }
    }
}
