@import '../../../variables';

.app {
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 8px;
}

.head {
    display: flex;
    padding: 0 24px;
}

.body {
    .columns {
        padding: 16px 24px;
        display: flex;
        border-radius: 8px;
    }

    & .show .columns {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    }

    .column {
        display: flex;
        align-items: center;
        min-width: 0;

        p {
            margin: 0;
            line-height: 1;
        }
    }

    .column-country svg {
        width: 24px;
    }

    .toggle-app-button {
        margin-left: auto;
    }
}

.app-status-approved {
    .app-status {
        color: $green;
        border: 1px solid $green;
    }
}

.app-status-pending {
    .app-status {
        color: $orange;
        border: 1px solid $orange;
    }
}

.app-status-revoked {
    .app-status {
        color: $red;
        border: 1px solid $red;
    }
}

.app-status {
    box-sizing: border-box;
    border-radius: 64px;
    padding: 4px 12px;
}

.toggle-app {
    cursor: pointer;
}

.column-app-name {
    flex: 0 1 100%;
    margin-right: 16px;
}

.column-country {
    flex: 0 0 56px;
    justify-content: center;
    margin-right: 20px;
}

.column-developer-company {
    flex: 0 0 200px;
    margin-right: 16px;
}

.column-go-live {
    flex: 0 0 10%;
}

.column-status {
    flex: 0 0 20%;
}

.elipsise {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail {
    display: none;

    .show>& {
        display: block;
    }

    h2 {
        font-size: 18px;
        font-family: $MTN-Bold;
        line-height: 1;
        margin: 16px 24px;
    }

    h3 {
        font-size: 15px;
        font-family: $MTN-Bold;
        margin-top: 0;
        line-height: 1;
    }
}

.environments {
    margin-bottom: 8px;
    margin: 0 24px;

    .reset {
        font-size: 14px;
        font-family: $MTN-Regular;
        font-weight: normal;
        color: $grey850;
        padding-bottom: 4px;
        margin-right: 12px;
    }
}

.app-products {
    display: none;
    margin: 0 24px;
}

.active-production {
    .environment-production {
        color: $orange;
        border-bottom: 2px solid $orange;
    }

    .production-products {
        display: block;
    }
}

.active-sandbox {
    .environment-sandbox {
        color: $orange;
        border-bottom: 2px solid $orange;
    }

    .sandbox-products {
        display: block;
    }
}

.product {
    display: flex;
    align-items: center;
    margin: 32px 0;
    padding-left: 96px;

    button {
        color: $blue;
        display: flex;
        align-items: center;

        svg {
            fill: $blue;
        }
    }

    &.product-status-approved .product-approve,
    &.product-status-revoked .product-revoke {
        color: $grey400;
        pointer-events: none;

        svg,
        path {
            fill: $grey400;
        }
    }

    .status {
        position: absolute;
        left: 0;
        padding: 4px 8px;
        border-radius: 35px;
        color: #FFF;
        background-color: $grey400;

        &:before {
            content: '...';
        }
    }

    &.product-status-pending .status {
        background-color: $orange;

        &:before {
            content: 'Pending';
        }
    }

    &.product-status-approved .status {
        background-color: $green;

        &:before {
            content: 'Approved';
        }
    }

    &.product-status-revoked .status {
        background-color: $red;

        &:before {
            content: 'Revoked';
        }
    }

    .name {
        margin-right: auto;
        color: $blue;
    }

    .product-status-action {
        padding: 0 32px;

        svg {
            margin-right: 8px;
            height: 18px;
        }
    }
}

.renew-credentials {
    position: absolute;
    right: 0;
    margin-top: -52px;

    .renew {
        display: flex;
        align-items: center;
        color: $blue;

        svg {
            fill: $blue;
            margin-right: 4px;
        }
    }
}

.detail-items {
    display: flex;
    flex-wrap: wrap;
    background-color: $grey200;
    padding: 0 24px 24px;
    border-radius: 0 0 8px 8px;
}

.detail-left,
.detail-right {
    margin-top: 32px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 32px);

    p {
        margin: 4px 0;
        word-break: break-word;
    }

    a {
        color: $blue;
        word-break: break-word;
    }
}

.detail-left {
    margin-right: 32px;
}

.detail-actions {
    display: flex;
    align-items: center;
    margin-top: 16px;

    button {
        display: flex;
        color: $blue;
        align-items: center;
        margin-right: 16px;

        svg {
            fill: $blue;
            margin-right: 8px;
            height: 18px;
        }
    }
}

.detail-text {
    color: #787878;
}

#status-dialog {
    .dialog-content {
        width: 400px;
    }

    .status-dialog-textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid $grey400;
        padding: 8px;
        appearance: none;
        outline: none;
        box-shadow: none;
        resize: vertical;
    }

    .status-dialog-button {
        margin-top: 20px;
    }
}

.kyc-status-select {
    background-image: url("/images/icons/chevron-down.svg"), url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="0" y2="50" stroke="%23e9e9ed" /></svg>');
    background-repeat: no-repeat, no-repeat;
    background-size: 24px, 1px;
    background-position: calc(100% - 8px) center, calc(100% - 40px) top;
    background-color: #FFF;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 8px;
}
