@import '../../../variables';

.app {
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 8px;
}

.head {
    @media screen and (min-width: 768px) {
        display: flex;
        padding: 0 24px;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.body {
    @media screen and (max-width: 767px) {
        margin-top: 15px;
    }

    .columns {
        padding: 16px 24px;
        display: flex;
        border-radius: 8px;
    }

    & .show .columns {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    }

    .column {
        display: flex;
        align-items: center;
        min-width: 0;

        p {
            margin: 0;
            line-height: 1;
        }
    }

    .column-country svg {
        width: 24px;
    }

    .toggle-app-button {
        margin-left: auto;
    }

    .column-country {
        @media screen and (min-width: 768px) {
            flex: 0 0 56px;
            justify-content: center;
            margin-right: 20px;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .column-developer-company {
        @media screen and (min-width: 768px) {
            flex: 0 0 200px;
            margin-right: 16px;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .column-go-live {
        @media screen and (min-width: 768px) {
            flex: 0 0 10%;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .column-status {
        @media screen and (min-width: 768px) {
            flex: 0 0 20%;

            .app-status {
                &::before {
                    content: attr(aria-label);
                }
            }
        }

        @media screen and (max-width: 767px) {
            .app-status {
                &::before {
                    content: attr(data-pending);
                }
            }
        }
    }

    .app-status-approved {
        .app-status {
            color: $green;
            border: 1px solid $green;

            @media screen and (max-width: 767px) {
                &::before {
                    background: url("/images/icons/done.svg") no-repeat center center / 16px;
                    width: 12px;
                    display: inline-block;
                    color: transparent;
                    filter: invert(56%) sepia(94%) saturate(2964%) hue-rotate(104deg) brightness(92%) contrast(80%);
                }
            }
        }
    }

    .app-status-pending {
        .app-status {
            color: $orange;
            border: 1px solid $orange;
        }
    }

    .app-status-revoked {
        .app-status {
            color: $red;
            border: 1px solid $red;

            @media screen and (max-width: 767px) {
                &::before {
                    background: url("/images/icons/close.svg") no-repeat center center / 16px;
                    width: 12px;
                    display: inline-block;
                    color: transparent;
                    filter: invert(16%) sepia(62%) saturate(4069%) hue-rotate(327deg) brightness(95%) contrast(91%);
                }
            }
        }
    }
}

.app-status {
    box-sizing: border-box;
    border-radius: 64px;
    padding: 4px 12px;

    @media screen and (max-width: 767px) {
        margin-right: 8px;
    }
}

.toggle-app {
    cursor: pointer;
}

.column-app-name {
    flex: 0 1 100%;
    margin-right: 16px;
}

.elipsise {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail {
    display: none;

    .show>& {
        display: block;
    }

    h2 {
        font-size: 18px;
        font-family: $MTN-Bold;
        line-height: 1;
        margin: 16px 24px;
    }

    h3 {
        font-size: 15px;
        font-family: $MTN-Bold;
        margin-top: 0;
        line-height: 1;
    }
}

.environments {
    margin-bottom: 8px;
    margin: 0 24px;

    .reset {
        font-size: 14px;
        font-family: $MTN-Regular;
        font-weight: normal;
        color: $grey850;
        padding-bottom: 4px;
        margin-right: 12px;
    }
}

.app-products {
    display: none;
    margin: 0 24px;
}

.active-production {
    .environment-production {
        color: $orange;
        border-bottom: 2px solid $orange;
    }

    .production-products {
        display: block;
    }
}

.active-sandbox {
    .environment-sandbox {
        color: $orange;
        border-bottom: 2px solid $orange;
    }

    .sandbox-products {
        display: block;
    }
}

.product {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        margin: 32px 0;
        padding-left: 96px;
    }

    @media screen and (max-width: 767px) {
        margin: 24px 0;
        margin-left: 0;
    }

    button {
        color: $blue;
        display: flex;
        align-items: center;

        svg {
            fill: $blue;
        }
    }

    &.product-status-approved .product-approve,
    &.product-status-revoked .product-revoke {
        color: $grey400;
        pointer-events: none;

        svg,
        path {
            fill: $grey400;
        }
    }

    .status {
        position: absolute;
        left: 0;
        padding: 4px 8px;
        border-radius: 35px;
        color: #FFF;
        background-color: $grey400;

        &:before {
            content: '...';
        }
    }

    &.product-status-pending .status {
        background-color: $orange;

        &:before {
            content: 'Pending';
        }
    }

    &.product-status-approved .status {
        background-color: $green;

        &:before {
            content: 'Approved';
        }
    }

    &.product-status-revoked .status {
        background-color: $red;

        &:before {
            content: 'Revoked';
        }
    }

    .name {
        margin-right: auto;
        color: $blue;

        @media screen and (max-width: 767px) {
            margin-left: 90px;
        }
    }

    .product-status-action {
        @media screen and (min-width: 768px) {
            padding: 0 32px;

            &::after {
                content: attr(aria-label);
            }
        }

        @media screen and (max-width: 767px) {
            margin-right: 8px;
        }

        svg {
            margin-right: 8px;
            height: 18px;
        }
    }

    .product-action {
        @media screen and (min-width: 768px) {
            display: none;
        }

        @media screen and (max-width: 767px) {
            svg+svg {
                display: none;
            }
        }
    }
}

.renew-credentials {

    @media screen and (min-width: 768px) {
        position: absolute;
        right: 0;
        margin-top: -52px;
    }

    @media screen and (max-width: 767px) {
        margin-top: 24px;
    }

    .renew {
        display: flex;
        align-items: center;
        color: $blue;

        svg {
            fill: $blue;
            margin-right: 4px;
        }
    }
}

.detail-items {
    display: flex;
    flex-wrap: wrap;
    background-color: $grey200;
    padding: 0 24px 24px;
    border-radius: 0 0 8px 8px;
}

.detail-left,
.detail-right {
    margin-top: 32px;
    flex-grow: 1;
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
        flex-basis: calc(50% - 32px);
    }

    @media screen and (max-width: 767px) {
        flex-basis: 100%;
    }

    p {
        margin: 4px 0;
        word-break: break-word;
    }

    a {
        color: $blue;
        word-break: break-word;
    }
}

.detail-left {
    @media screen and (min-width: 768px) {
        margin-right: 32px;
    }

    @media screen and (max-width: 767px) {
        order: 2;
    }
}

.detail-right {
    @media screen and (max-width: 767px) {
        order: 1;
    }
}

.detail-actions {
    display: flex;

    @media screen and (min-width: 768px) {
        margin-top: 16px;
    }

    @media screen and (max-width: 767px) {
        margin-top: 24px;
    }

    @media screen and (min-width: 768px) {
        align-items: center;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    button {
        display: flex;
        color: $blue;
        align-items: center;
        margin-right: 16px;

        svg {
            fill: $blue;
            margin-right: 8px;
            height: 18px;
        }
    }

    .app-status-action {
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }
    }
}

.detail-text {
    color: #787878;
}

#status-dialog {
    .dialog-content {
        width: 400px;
    }

    .status-dialog-textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid $grey400;
        padding: 8px;
        appearance: none;
        outline: none;
        box-shadow: none;
        resize: vertical;
    }

    .status-dialog-button {
        margin-top: 20px;
    }
}

.kyc-status-select {
    background-image: url("/images/icons/chevron-down.svg"), url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="0" y2="50" stroke="%23e9e9ed" /></svg>');
    background-repeat: no-repeat, no-repeat;
    background-size: 24px, 1px;
    background-position: calc(100% - 8px) center, calc(100% - 40px) top;
    background-color: #FFF;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 8px;
}

@media screen and (max-width: 768px) {
    .product {
        .product-status-action {
            display: none;
        }

        .product-status-action {
            display: none;
        }

        .log-notes {
            display: none;
            margin-right: 8px;
            margin-left: auto;
        }

        &.show-actions {
            .name {
                display: none;
            }

            .status {
                display: none;
            }

            .product-status-action {
                display: flex;
            }

            .product-status-action {
                display: flex;
            }

            .log-notes {
                display: flex;
            }

            .product-action {
                svg {
                    display: none;
                }

                svg+svg {
                    display: initial;
                }
            }
        }
    }
}
