@use '../../variables';
@use '../../components/tag';

#admin-form {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    word-break: break-word;
}

.go-back {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-family: variables.$MTN-Regular;
    color: variables.$grey750;

    @media screen and (min-width: 768px) {
        margin: 0 0 16px -5px;
    }

    @media screen and (max-width: 767px) {
        margin: 0 0 0 -5px;
    }

    svg {
        fill: variables.$grey750;
    }
}

#main {
    .table-list {
        width: 100%;
        border: none;
        border-collapse: separate;

        @media screen and (min-width: 768px) {
            border-spacing: 0 8px;
        }

        @media screen and (max-width: 767px) {
            border-spacing: 0 15px;
        }

        thead {
            background-color: transparent;

            a {
                display: flex;
                align-items: center;
            }

            svg {
                width: 16px;
                fill: variables.$grey500;
                margin-left: 8px;
            }

            th:first-child {
                padding-left: 24px;
            }
        }

        tbody tr {
            border-radius: 8px;

            td {
                background-color: #FFF;
                height: 48px;
                max-height: 48px;
                text-transform: capitalize;
                position: relative;
            }

            td:first-child {
                border-radius: 10px 0 0 10px;
                padding-left: 24px;
            }

            td:last-child {
                border-radius: 0 10px 10px 0;
            }
        }
    }

    .editor-field {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        background-color: #FFF;
        border-radius: 8px;
        width: 100%;

        @media screen and (min-width: 768px) {
            margin-bottom: 32px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 15px;
        }

        >h2 {
            margin: 0;
            background-color: #FFF;
            border-radius: 8px;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);
            padding: 24px;
            font-size: 20px;
            font-family: variables.$MTN-Regular;
            font-weight: normal;
            flex: 1 1 100%;

            &+h3,
            &+.editor-field-label,
            &+.editor-field-label+.half {
                margin-top: 24px;
            }
        }

        h3,
        .editor-field-label {
            font-size: 16px;
            font-family: variables.$MTN-Regular;
            display: block;
            font-weight: normal;
            width: 100%;
        }

        .editor-field-label {
            position: relative;

            @media screen and (min-width: 768px) {
                margin: 0 24px 24px;
            }

            @media screen and (max-width: 767px) {
                margin: 0 10px 10px;
            }

            h3 {
                margin: 0;
            }
        }

        input,
        textarea,
        select:not(.multiselect),
        .editor-field-copy {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid variables.$grey800;
            font-size: 14px;
            font-family: variables.$MTN-Regular;
            padding: 8px 0;
            display: block;
            width: 100%;
            height: 36px;
            line-height: 1;
        }

        select {
            background-image: url('/images/icons/chevron-down.svg');
            background-repeat: no-repeat;
            background-size: 24px;
            background-position: calc(100% - 8px) center;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
        }

        .ck-editor {
            width: calc(100% - 2px);
            margin-top: 16px;
        }
    }

    .tag {
        display: flex;
        align-items: center;
    }
}

#main #admin-form {
    .one-third {
        @media screen and (min-width: 768px) {
            width: calc(33% - 24px);
        }
    }

    .two-thirds {
        @media screen and (min-width: 768px) {
            width: 66%;
            margin-left: 24px;
        }
    }

    .half {
        @media screen and (min-width: 768px) {
            width: calc(50% - 12px);
            margin-right: 0;

            &.editor-field-label {
                width: calc(50% - 36px);
            }
        }
    }

    .half:nth-child(even) {
        @media screen and (min-width: 768px) {
            margin-right: 24px;

            &.editor-field-label {
                margin-right: 0;
            }
        }
    }

    .half:first-of-type {
        &.editor-field-label {
            margin-right: 0;
        }
    }
}

#main .save-button {
    color: variables.$blue;
    height: 32px;
    line-height: 1;

    @media screen and (min-width: 768px) {
        margin-left: 24px;
        margin-bottom: 24px;
    }

    @media screen and (max-width: 767px) {
        margin-left: 10px;
        margin-bottom: 15px;
        width: calc(100% - 20px);
    }

    &:hover {
        color: #FFF;
    }
}
