@import '../../variables';
@import '../../components/tag';

#admin-form {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    word-break: break-word;
}

.go-back {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-family: $MTN-Regular;
    color: $grey750;
    margin: 0 0 16px -5px;

    svg {
        fill: $grey750;
    }
}

#main .editor-field {
    align-self: flex-start;
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &.one-third {
        width: calc(33% - 12px);
        margin-right: 24px;
    }

    &.two-thirds {
        width: 66%;
    }

    >h2 {
        margin: 0;
        background-color: #FFF;
        border-radius: 8px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);
        padding: 24px;
        font-size: 20px;
        font-family: $MTN-Regular;

        &+h3 {
            margin-top: 24px;
        }
    }

    >h3 {
        margin: 0 24px 12px;
        font-size: 16px;
        font-family: $MTN-Regular;
    }

    >div,
    >.ck-editor,
    >input,
    >select,
    >textarea {
        margin: 24px;
    }

    h3~div,
    h3~.ck-editor,
    h3+input,
    h3+select,
    h3+link+select,
    h3+textarea {
        margin: 0 24px 24px;
    }

    input,
    textarea,
    select {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $grey800;
        font-size: 14px;
        font-family: $MTN-Regular;
        padding: 8px 0;
    }

    select {
        background-image: url('/images/icons/chevron-down.svg');
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: calc(100% - 16px) center;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
}
