@import '../../variables';

#search-form {
    display: flex;
    margin-bottom: 32px;
}

.go-back {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-family: $MTN-Regular;
    color: $grey750;
    margin: 0 0 16px -5px;

    svg {
        fill: $grey750;
    }
}

.filter-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 14px;
    font-family: $MTN-Regular;
    width: 100px;

    input,
    select {
        margin-top: 8px;
        background-color: #fff;
        border-radius: 8px;
        border: none;
        padding: 0 16px;
        height: 40px;
    }

    select {
        background-image:
            url('/images/icons/chevron-down.svg'),
            url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><path stroke="%23F0F0F0" d="M0 0L0 50"/></svg>');
        background-repeat:
            no-repeat,
            no-repeat;
        background-size:
            24px,
            1px;
        background-position:
            calc(100% - 16px) center,
            calc(100% - 54px) top;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
}

.page-actions {

    button,
    .button {
        font-size: 16px;
        font-family: $MTN-Regular;
    }
}

.filter-item+.filter-item {
    margin-left: 16px;
}

#search-page {
    background-image:
        url('/images/icons/search.svg'),
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><path stroke="%23F0F0F0" d="M0 0L0 50"/></svg>');
    background-repeat:
        no-repeat,
        no-repeat;
    background-size:
        24px,
        1px;
    background-position:
        calc(100% - 16px) center,
        calc(100% - 54px) top;
}

#table-data {
    font-size: 14px;
    font-family: $MTN-Regular;

    table {
        width: 100%;
        border: none;
        border-collapse: separate;
        border-spacing: 0 8px;
    }

    thead {
        background-color: transparent;

        th {
            padding: 0 16px;
            white-space: nowrap;
            font-weight: normal;
        }

        th:first-child {
            padding-left: 24px;
        }

        a {
            display: flex;
            align-items: center;
        }

        svg {
            width: 16px;
            fill: $grey500;
            margin-left: 8px;
        }
    }

    tbody tr {
        border-radius: 8px;

        td {
            background-color: #FFF;
            height: 48px;
            max-height: 48px;
            max-width: 100px;
            text-transform: capitalize;
            padding: 0 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        td:first-child {
            border-radius: 10px 0 0 10px;
            padding-left: 24px;
        }

        td:last-child {
            border-radius: 0 10px 10px 0;
            padding-right: 24px;
        }
    }

    .action-row {
        width: 1%;
        max-width: 100%;

        .sl-button {
            background-color: transparent;
            border: none;
            padding: 0;
        }

        a,
        form,
        button,
            {
            display: inline-flex;
            align-items: center;
            color: $blue;
        }

        a+*,
        form+*,
        button+*,
            {
            margin-left: 16px;
        }

        svg {
            fill: $blue;
            height: 16px;
            margin-right: 4px;
        }
    }
}
