@import '../../variables';

#search-form {
    display: flex;
    margin-bottom: 32px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 14px;
    font-family: $MTN-Regular;

    input,
    select {
        margin-top: 8px;
        background-color: #fff;
        border-radius: 8px;
        border: none;
        padding: 0 16px;
        height: 40px;
    }

    select {
        background-image:
            url('/images/icons/chevron-down.svg'),
            url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="0" y2="50" stroke="%23F0F0F0" /></svg>');
        background-repeat:
            no-repeat,
            no-repeat;
        background-size:
            24px,
            1px;
        background-position:
            calc(100% - 16px) center,
            calc(100% - 54px) top;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
}

.page-actions {

    button,
    .button {
        font-size: 16px;
        font-family: $MTN-Regular;
    }
}

.filter-item+.filter-item {
    margin-left: 16px;
}

#search-page {
    background-image:
        url('/images/icons/search.svg'),
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="0" y2="50" stroke="%23F0F0F0" /></svg>');
    background-repeat:
        no-repeat,
        no-repeat;
    background-size:
        24px,
        1px;
    background-position:
        calc(100% - 16px) center,
        calc(100% - 54px) top;
}

#table-data {
    font-size: 14px;
    font-family: $MTN-Regular;

    table {
        width: 100%;
        border: none;
        border-collapse: separate;
        border-spacing: 0 8px;
    }

    thead {
        background-color: transparent;

        th {
            padding-top: 0;
            padding-bottom: 0;
        }

        a {
            display: flex;
            align-items: center;
        }

        svg {
            width: 16px;
            fill: $grey500;
            margin-left: 8px;
        }
    }

    tbody tr {
        border-radius: 8px;

        td {
            background-color: #FFF;
            height: 48px;
            max-height: 48px;
            text-transform: capitalize;
        }

        td:first-child {
            border-radius: 10px 0 0 10px;
            padding-left: 24px;
        }

        td:last-child {
            border-radius: 0 10px 10px 0;
        }
    }
}

.action-row {
    display: flex;

    .sl-button {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    a,
    form,
    button {
        display: inline-flex;
        align-items: center;
        margin-right: 16px;
        color: $blue;
    }

    svg {
        fill: $blue;
        height: 16px;
        margin-right: 4px;
    }
}
