@use "../variables";

#auth-main {
    height: 100%;

    .header {
        margin: variables.$gutterSmall 0 0 variables.$gutter;
        display: flex;
        position: relative;
        align-items: center;

        div {
            margin-left: 2rem;
            font-size: 1.8rem;
        }

        svg {
            width: auto;
            height: 36px;
        }
    }

    svg {
        width: 16px;
    }

    form {
        padding: variables.$gutter variables.$gutter 0 variables.$gutter;
        width: 35%;
        height: calc(100vh - 170px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        input {
            margin-top: 1rem;
            width: 100%;
        }

        .inline {
            margin-top: 2rem;
            align-items: center;

            @media #{variables.$small} {
                text-align: center;
                width: 100%;

                button,
                a {
                    width: 100%;
                }

                a {
                    margin-top: 10px;
                }
            }

            @media #{variables.$medium-up} {
                display: flex;
            }

            a {
                display: flex;
                text-align: center;
                align-items: center;

                svg {
                    margin-left: 4px;
                }
            }
        }

        @media #{variables.$small} {
            width: 100%;
        }

        @media #{variables.$medium} {
            width: 100%;
        }
    }

    .invalid {
        border-color: variables.$error;
    }

    .invalid-feedback {
        font-size: 1rem;
        color: variables.$error;
    }

    .yellow {
        color: variables.$yellow;
    }

    .carousel {
        position: absolute;
        height: 100%;
        width: 65%;
        top: 0;
        right: 0;

        @media #{variables.$small} {
            display: none;
        }

        @media #{variables.$medium} {
            display: none;
        }
    }

    // p {
    //     font-family: "Montserrat-Light";
    // }

    .carousel-item {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
    }

    .carousel-item:first-child {
        background-image: url("/images/backgrounds/bg-opt-1-yellow.svg");
    }

    .carousel-item:nth-child(2) {
        background-image: url("/images/backgrounds/bg-opt-2-red.svg");
    }

    .carousel-item:nth-child(3) {
        background-image: url("/images/backgrounds/bg-opt-3-blue.svg");
    }

    .carousel-item:nth-child(4) {
        background-image: url("/images/backgrounds/bg-opt-4-black.svg");
    }

    .carousel-content {
        margin: 0 80px;
        color: #FFF;
        width: 70%;

        h1 {
            color: currentColor;
            margin-bottom: variables.$gutterSmall;
        }
    }

    .try-somewhere-else {
        display: flex;
        align-items: center;

        span {
            color: variables.$grey900;
            margin-right: 6px;
        }

        svg {
            width: 12px;
            margin-left: 4px;
        }
    }

    .bottom {
        position: absolute;
        bottom: variables.$gutterSmall;
        left: variables.$gutter;
    }
}
