@import "../variables";
@import "../components/utility";
@import "auth";

.forgot-password-success {
    padding: 10px;
    color: #FFF;
    background-color: $success;
    width: 100%;
}

#password-strength {
    margin-top: 10px;
    height: 34px;
    line-height: 1;
    background-color: $grey500;
    border-radius: 5px;
    padding: 0 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $grey600;
    transition: background-color 0.356s;

    &.password-score-0,
    &.password-score-1,
    &.password-score-2 {
        background-color: $error;
        color: #FFF;
    }

    &.password-score-3,
    &.password-score-4 {
        background-color: $warning;
        color: #FFF;
    }

    &.password-score-5 {
        background-color: $success;
        color: #FFF;
    }
}

.password-section {
    position: relative;
    width: 100%;
}

.show-password {
    margin: -36px 0 0 0;
    position: absolute;
    right: 10px;
    background-image: url("/images/icons/visible.svg");
    background-size: 20px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 30px;
    height: 30px;
    z-index: 1;
    display: block;
    border-radius: 50%;

    &:hover {
        background-color: $yellow700;
    }
}

.password-visible {
    background-image: url('/images/icons/hidden.svg');
}