@import "../variables";
@import "../components/utility";
@import "auth";

p {
    font-family: "Montserrat-Light";
}

.forgot-password-success{
    padding: 10px;
    color: #FFF;
    background-color: $success;
    width: 100%;
}