@import "../../variables";

.getting-started{
    h2{
        display: flex;

        svg{
            padding-left: 10px;
        }
    }
}

#product-usage{
    padding-top: 15px;

    .card{
        width: 30%;
        margin: 10px;
        margin-bottom: 20px;

        svg{
            fill: $grey700;
            width: 30px;
            height: 30px;
        }

        .card__body{
            font-size: 12px;
        }
    }
}

