@import "../../variables";

.getting-started{
    h2{
        display: flex;
        
        svg{
            padding-left: 10px;
        }
    }
}

#product-usage{
    padding-top: 15px;

    .card{
        display: inline-block;
        width: 30%;
        margin: 10px;

        svg{
            fill: $grey700;
        }

        .card__body{
            font-size: 12px;
        }
    }
}

