@use '../../variables';

#sidebar {
    @media #{variables.$small} {
        display: none;
    }

    @media #{variables.$medium} {
        display: none;
    }
}

#main {
    #heading {
        span {
            @media #{variables.$small} {
                display: none;
            }
        }
    }
}
