@import '../../variables';

#sidebar {
    @media #{$small} {
        display: none;
    }

    @media #{$medium} {
        display: none;
    }
}

#main {
    #heading {
        span {
            @media #{$small} {
                display: none;
            }
        }
    }
}
