@import "../variables";
@import "../normalize";
@import "../typography";
@import "../components/button";
@import "../components/alert";

body {
    background-color: #F0F0F0;
}

@keyframes slide {
    0% {
        transform: translateX(-16px);
    }

    100% {
        transform: translateX(0);
    }
}

#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    background-color: $dark;

    @media screen and (min-width: 1100px) {
        width: 320px;
        padding: 32px;
        bottom: 0;
    }

    @media screen and (max-width: 1099px) {
        width: 100vw;
        height: 100vh;
        padding: 10px;
        left: 0;
        right: 0;
        z-index: 2;
        overflow-y: auto;
        pointer-events: none;
        opacity: 0;
        transition: opacity 128ms ease-out;

        &.show {
            pointer-events: auto;
            opacity: 1;

            .main-menu li {
                animation-name: slide;
                animation-duration: 256ms;
                animation-fill-mode: forwards;
            }

            .menu-applications {
                animation-delay: 32ms;
            }

            .menu-products {
                animation-delay: 64ms;
            }

            .menu-users {
                animation-delay: 96ms;
            }

            .menu-faq {
                animation-delay: 128ms;
            }

            .menu-pages {
                animation-delay: 160ms;
            }

            .menu-categories {
                animation-delay: 192ms;
            }

            .menu-documentation {
                animation-delay: 224ms;
            }

            .menu-bundles {
                animation-delay: 256ms;
            }
        }
    }

    .logo {
        margin-top: 5px;
        margin-left: 0;
    }

    .main-menu {
        margin: 0;
        padding: 0;

        li {
            @media screen and (max-width: 1099px) {
                transform: translateX(-16px);
            }

            a {
                padding: 8px;
            }

            &.active a,
            a:hover {
                background-color: $yellow;
                color: $dark;

                svg {
                    fill: $dark;
                }
            }
        }
    }

    li {
        margin: 8px 0;

        a,
        button {
            display: flex;
            align-items: center;
            color: #fff;
            border-radius: 8px;
            font-size: 18px;
            font-family: $MTN-Regular;
            cursor: pointer;

            @media screen and (min-width: 1100px) {
                padding: 8px;
            }

            @media screen and (max-width: 1099px) {
                padding: 8px 0;
            }
        }

        svg {
            fill: #fff;
            margin-right: 12px;

            @media screen and (min-height: 815px) {
                width: 32px;
            }

            @media screen and (max-height: 814px) {
                width: 28px;
                height: 28px;
            }
        }
    }

    .secondary-menu {
        margin: auto 0 0;
        padding: 0;

        button {
            background-color: transparent;
            border: none;
        }
    }

    .profile-picture {
        width: 32px;
        height: 32px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-right: 8px;
    }

    .admin-search {
        border-radius: 56px;
        height: 40px;
        width: 100%;
        border: 1px solid #000;
        padding-left: 42px;
        background: url('/images/icons/search.svg') no-repeat 16px center / 18px;
        color: #000;
        filter: invert(100%);
    }

    #sync {
        background-color: $yellow;
        border-radius: 64px;
        display: flex;
        justify-content: center;
        width: 100%;
        color: $dark;
        margin-top: 18px;
    }
}

.logo {
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: $MTN-Regular;

    @media screen and (min-height: 815px) {
        margin-bottom: 32px;
    }

    @media screen and (max-height: 814px) {
        margin-bottom: 24px;
    }

    @media screen and (max-width: 1099px) {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 40px;
    }

    svg {
        width: 39px;
        height: 42px;
        margin-right: 12px;
    }
}

#hide-menu {
    @media screen and (min-width: 1100px) {
        display: none;
    }

    @media screen and (max-width: 1099px) {
        position: absolute;
        top: 22px;
        right: 8px;
        filter: invert(100%);
    }
}

.admin-search-form {
    margin-top: 16px;
}

#mobile-header {
    @media screen and (min-width: 1100px) {
        display: none;
    }

    @media screen and (max-width: 1099px) {
        background-color: $dark;
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .reset {
        width: 40px;
        height: 40px;

        svg {
            fill: #FFF;
        }
    }
}

#main {
    @media screen and (min-width: 1100px) {
        margin-left: 320px;
        padding: 32px;
    }

    @media screen and (max-width: 1099px) {
        width: 100%;
        padding: 10px;
    }

    h1 {
        margin-top: 0;
        line-height: 1.2;
        font-family: $MTN-Bold;

        @media screen and (min-width: 1100px) {
            font-size: 40px;
            margin-bottom: 36px;
        }

        @media screen and (max-width: 1099px) {
            font-size: 24px;
            background: #F0F0F0;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);
            margin: -10px 0 10px -10px;
            padding: 35px 0 20px 10px;
            width: calc(100% + 10px);
        }
    }
}

.page-actions {
    position: absolute;
    display: flex;

    @media screen and (min-width: 1100px) {
        top: 32px;
        right: 32px;
    }

    @media screen and (max-width: 1099px) {
        top: 28px;
        right: 10px;
    }

    a+button,
    a+a,
    a+label,
    label+button,
    label+a,
    label+label,
    button+button,
    button+label,
    button+a {
        margin-left: 8px;
    }
}

.go-back~.page-actions {
    @media screen and (max-width: 1099px) {
        position: relative;
        flex-direction: column;
        top: initial;
        right: initial;
        margin-bottom: 5px;

        a,
        button,
        form,
        label {
            margin: 0 0 10px;
        }
    }
}

.page-actions-create {
    @media screen and (min-width: 1100px) {
        &::before {
            content: attr(aria-label);
        }
    }

    @media screen and (max-width: 1099px) {
        width: 37px;
        background: url('/images/icons/plus.svg') no-repeat center center / 18px;
        background-color: $yellow;
    }
}

.switch {
    border-radius: 12px;
    position: relative;
    display: inline-block;
    cursor: pointer;

    .ball {
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        transition: transform 0.128s ease-out;
    }

    .track {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $grey700;
        border-radius: 12px;
        transition: background-color 0.128s ease-out;
    }

    .swatch-label {
        font-family: Montserrat-Light;
        font-size: 1.4rem;
        margin-left: 50px;
    }

    &.dark .ball {
        background-color: $grey800;
    }

    &.light .ball {
        background-color: #FFF;
    }

    &.big {
        height: 24px;
        width: 40px;

        .ball {
            width: 20px;
            height: 20px;
        }
    }

    &.small {
        height: 20px;
        width: 32px;

        .ball {
            height: 16px;
            width: 16px;
        }
    }

    input {
        display: none;
    }

    input:checked+.track {
        background-color: $yellow;
    }

    &.big input:checked+.track+.ball {
        transform: translate(16px, 0);
    }

    &.small input:checked+.track+.ball {
        transform: translate(12px, 0);
    }
}
