@import "../variables";
@import "../normalize";
@import "../typography";
@import "../components/button";
@import "../components/alert";

body {
    background-color: #F0F0F0;
}

#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 32px;
    top: 0;
    bottom: 0;
    background-color: $dark;

    .main-menu {
        margin: 0;
        padding: 0;

        li {

            &.active a,
            a:hover {
                background-color: $yellow;
                color: $dark;

                svg {
                    fill: $dark;
                }
            }
        }
    }

    li {
        margin: 8px 0;

        a,
        button {
            display: flex;
            align-items: center;
            color: #fff;
            padding: 8px;
            border-radius: 8px;
            font-size: 18px;
            font-family: $MTN-Regular;
            cursor: pointer;
        }

        svg {
            fill: #fff;
            margin-right: 12px;

            @media screen and (min-height: 815px) {
                width: 32px;
            }

            @media screen and (max-height: 814px) {
                width: 28px;
                height: 28px;
            }
        }
    }

    .secondary-menu {
        margin: auto 0 0;
        padding: 0;

        button {
            background-color: transparent;
            border: none;
        }
    }

    .profile-picture {
        width: 32px;
        height: 32px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-right: 8px;
    }

    .admin-search {
        border-radius: 56px;
        height: 40px;
        width: 100%;
        border: 1px solid #000;
        padding-left: 42px;
        background: url('/images/icons/search.svg') no-repeat 16px center / 18px;
        color: #000;
        filter: invert(100%);
    }

    #sync {
        background-color: $yellow;
        border-radius: 64px;
        display: flex;
        justify-content: center;
        width: 100%;
        color: $dark;
        margin-top: 18px;
    }
}

.logo {
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: $MTN-Regular;

    @media screen and (min-height: 815px) {
        margin-bottom: 32px;
    }

    @media screen and (max-height: 814px) {
        margin-bottom: 24px;
    }

    img {
        margin-right: 12px;
    }
}

.admin-search-form {
    margin-top: 16px;
}

#main {
    margin-left: 320px;
    padding: 32px;

    h1 {
        margin-top: 0;
        font-size: 40px;
        line-height: 1.2;
        font-family: $MTN-Bold;
        margin-bottom: 36px;
    }
}

.page-actions {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;

    a+button,
    a+a,
    a+label,
    label+button,
    label+a,
    label+label,
    button+button,
    button+label,
    button+a {
        margin-left: 8px;
    }
}
