.cookie-consent {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    color: #fff;
    padding: 20px 30px;
    z-index: 9999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    max-width: 980px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cookie-consent__message {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.cookie-consent__agree {
    background-color: #f1c40f;
    color: #222;
    border: none;
    padding: 10px 50px !important;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.cookie-consent__agree:hover {
    background-color: #e1b60e;
}

.cookie-consent-header {
    color: #f2f2f2;
    font-size: 21px;
    font-weight: 400;
    margin-top: 0px;
    line-height: 22px;
    margin-bottom: 10px;
}

.cookie-policy {
    color: #f2f2f2;
    text-underline: #f2f2f2;
    text-decoration: underline;
    transition: all .3s ease-in-out;

    &:hover{
        color: #e1b60e;
    }
}

@media (max-width: 768px) {
    .cookie-consent {
        bottom: 10px;
        padding: 35px 20px;
        flex-direction: column;
    }

    .cookie-consent__message {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 0px;
    }

    .cookie-consent__agree {
        padding: 10px 20px !important;
        font-size: 14px;
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
    }


    .cookie-consent-header {
        color: #f2f2f2;
        font-size: 21px;
        line-height: 0px;
        font-weight: 400;
        margin-bottom: 24px;
    }
}
