@import "../../variables";
@import "../../functions";

#main {
    padding: 0 !important;
}

.grey-bg {
    background-color: $grey200;
}

section:last-of-type {
    padding: $gutter 150px;
}

address {
    font-style: normal;
    margin-left: 30px;

    .left {
        display: flex;
        margin-bottom: 30px;

        > div {
            display: flex;
            flex-direction: column;
        }
    }

    .right {
        display: flex;
        align-items: center;
    }

    svg {
        margin-right: 20px;
        height: 36px;
        width: 36px;
    }

    a {
        color: $grey900 !important;
    }
}

span {
    display: block;
}

.columns {
    display: flex;
    flex-flow: row wrap;

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        flex-basis: 50%;
    }
}

.faqs-section {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;

    a {
        margin-top: 10px;
    }
}
