@import "../../variables";
@import "../../functions";

#main {
    padding: 0 !important;
}

section:first-of-type {
    padding-bottom: 60px;
    margin-top: 120px;
}

section {
    .container {
        display: flex;

        .column {
            flex: 1;

            &:not(:first-of-type) {
                padding-left: 40px;
            }

            &:not(:last-of-type) {
                padding-right: 40px;
            }

            address {
                font-style: normal;

                .left {
                    display: flex;
                    margin-bottom: 30px;

                    > div {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .right {
                    display: flex;
                    align-items: center;
                }

                svg {
                    margin-right: 20px;
                    height: 36px;
                    width: 36px;
                }

                a {
                    color: $grey900 !important;
                }

                @media screen and (min-width: 320px) and (max-width: 768px) {
                    margin: 0;
                }
            }
        }
    }
}
